// Control form specifics
.ctrl-status {
  @include clearfix;

  h3 {
    display: block;
    font-weight: 500;
    color: $grey;
    padding-bottom: 0.5em;
    @include font-size(1.6,1);
    border-bottom: 2px solid $wool;
    margin: 2em 0 1em;
  }

  .field-widget-options-select {
    float: left;
    margin-right: 1em;
  }

  .field-type-date {
    float: left;
    clear: none;
  }

  .form-type-select {

    label {
      display: inline-block;
      color: $coffee;
      border: 0px none;
      margin: 9px 5px 0 0;
      padding: 0;
      @include font-size(1.4,1);
    }
  }
}

.node-kontrolluppgift,
.node-kontrolluppgift-privat {

  &.view-mode-full {
    max-width: 1800px;

    .control_list {
      overflow: hidden;

      .approved-control,
      .not-approved-control {
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid $light-grey;
        overflow: hidden;

        h3 {
          margin-bottom: 15px;
        }
      }

      .approved-control {
        border-left: 2px solid tint($pear,50%);

        .app {
          float: left;
          clear: left;
          padding: 10px;
          background: tint($pear,50%);
        }

        .app-date {
          float: left;
          padding: 10px 10px 10px 0;
          background: tint($pear,50%);
        }
      }

      .not-approved-control {
        border-left: 2px solid tint($wine,50%);

        .app {
          float: left;
          clear: left;
          padding: 10px;
          background: tint($wine,50%);
        }

        .app-date {
          float: left;
          padding: 10px 10px 10px 0;
          background: tint($wine,50%);
        }
      }

      .notes {
        float: right;
        width: 35%;
        padding-left: 20px;

        .label {
          display: block;
          margin-bottom: 10px;
        }
      }

      .files {
        float: left;
        width: 65%;
        margin-bottom: 20px;
      }
    }

    .handle-control {

      input {
        @include button($dark-grey,flow);
      }
    }
  }
}

.node-kontrolluppgift-form,
.node-kontrolluppgift_privat-form {

  .control_list {

    .field-type-file,
    .field-type-text-long {
      width: 50%;
      float: left;

      textarea {
        margin-top: 9px;
        padding: 10px;
        width: 100%;
        border: 0px none;
      }
    }

    .field-type-file {
      padding-right: 20px;
    }

    .status-fields {
      clear: both;
      overflow: hidden;
      padding: 10px;
      background: $aluminium;

      .field-type-list-boolean,
      .field-type-date {
        float: left;

        .form-item {
          margin-bottom: 0;
        }
      }

      .field-type-list-boolean {
        margin-right: 20px;
        margin-top: 10px;
      }
    }
  }
}

// Investor Person/Company Control (Kontroll)
#eck-entity-form-edit-investor-person,
#eck-entity-form-edit-investor-company {
  background: $snow;
  padding: 50px 40px 20px 40px;

  // Remove form-wrapper fieldset from view.
  fieldset#edit-field-shared-ctrl-und {

    > legend {
      display: none;
    }

    > .fieldset-wrapper {
      padding: 0;
      background: transparent;
    }
  }

  // Headings
  h3 {
    margin-bottom: 15px;
  }

  // Control sections
  .control-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid $light-grey;
  }

  // File
  .form-type-managed-file {
    border-right: 1px solid $light-concrete;
    float: left;
    display: block;
    margin-right: 20px;
    padding-right: 20px;
    width: auto;
  }

  .status-fields {
    overflow: hidden;
  }

  // Approved checkbox
  .field-type-list-boolean {
    display: inline-block;
    float: left;
    margin-top: 22px;
  }

  // Date
  .field-type-date {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;
  }

  .option {
    margin-top: 10px;
  }

  .checker {
    margin-bottom: 2px;
  }

  form {

    .form-item {
      margin-bottom: 5px;
    }
  }
}

// When logged in as inspector (granskare) styling
.title-container {
  background: $light-concrete;
  border-bottom: 1px solid $wool;
  border-radius: 2px 2px 0 0;
  display: block;
  font-weight: 500;
  padding: 10px 0 11px 10px;
}

// When logged in as inspector (granskare) styling
.content-container {
  background: #eaecf0;
  border-radius: 0 0 2px 2px;
  padding: 10px;
  margin-bottom: 20px;
}

// Revisions
#revisioning-revisions-summary {
  padding: 50px 40px;
  background: $snow;

  .table-revisions {

    tr {

      td {
        padding: 10px;

        .revisions-active {
          @include svg-bg(arrow_right_night,transparent,0 3px);
        }
      }

      &.revision-pending {

        td {
          background: tint($honey,60%);

          a {
            border-bottom: 1px solid $honey;

            &:hover {
              border-bottom: 1px solid $night;
            }
          }
        }
      }

      &.revision-current {

        td {
          background: tint($pear,60%);

          a {
            border-bottom: 1px solid $pear;

            &:hover {
              border-bottom: 1px solid $night;
            }
          }
        }
      }
    }
  }
}

.page-node-revisions-view,
.page-node-revisions-edit {

  .node-kontrolluppgift,
  .node-kontrolluppgift-privat,
  .node-kontrolluppgift_privat-form,
  .node-kontrolluppgift-form {
    padding: 50px 40px;
    background: $snow;

    .control_list {
      overflow: hidden;

      .approved-control,
      .not-approved-control {
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid $light-grey;

        h3 {
          margin-bottom: 15px;
        }
      }

      .approved-control {
        border-left: 2px solid tint($pear,50%);
      }

      .not-approved-control {
        border-left: 2px solid tint($wine,50%);
      }
    }
  }
}
