// Verification marker
.verification {
  @include verification(false);
}

.mfp-container {
  padding: 44px;
}

.mfp-inline-holder {

  .success {
    padding: 0 40px;
    text-align: center;
    @include font-size(1.8);
    font-weight: 700;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .verification-footer {
    text-align: center;
    padding: 0 40px;

    .modal-close {
      @include button($dark-grey, confirm);
    }
  }
}

.mfp-ajax-holder {

  .mfp-content {
    padding: 0;
    width: 90%;
    max-width: 600px;
    margin: 40px 0;

    .node {
      margin: 0;
      padding: 0;

      &.view-mode-teaser {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .node-ctrl,
    .node-ctrl-form {
      border-top: 10px solid $neon;

      &.view-mode-teaser {
        border-top: 0px none;
        border-left: 3px solid $coffee;
      }

      &.approved {
        border-color: $pear;
      }

      &.expiring {
        border-color: $mustard;
      }

      &.not-approved {
        border-color: $wine;
      }

      .vertical-tabs {
        display: none;
      }
    }
  }
}

.mfp-close-btn-in {

  .mfp-close {
    color: $snow;
    top: -44px;
    right: -17px;
  }
}
