.mfp-container {
  padding: 44px;
}

.mfp-ajax-holder {

  .mfp-content {
    padding: 0;
    width: 90%;
    max-width: 600px;
    margin: 40px 0;

    .node {
      margin: 0;
      padding: 0;
    }

    .node-ctrl,
    .node-ctrl-form {
      border-top: 10px solid $coffee;

      &.approved {
        border-color: $pear;
      }

      &.expiring {
        border-color: $mustard;
      }

      &.not-approved {
        border-color: $wine;
      }
    }
  }
}

.mfp-close-btn-in {

  .mfp-close {
    color: $snow;
    top: -44px;
    right: -17px;
  }
}
