# Server specifics, so we don't include them
/public/.htaccess
/public/sites/*/settings.local.php

# User generated content should not be in the repository
/public/sites/*/files/*
/public/sites/*/tmp/*

# Include README in the files folders.
!/public/sites/*/files/README.txt

# Exlude various other files
.DS_Store
.docker-sync
.sass-cache
/public/cache

# Ignore vendor dependencies.
/vendor/
