# Redirect the user to /public in case the user tried to access a path outside
# of /public. This will preserve the entire URL, by appending it to the
# /public folder.
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/public/ [NC]

# Handle GET requests.
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^ http%{ENV:protossl}://%{HTTP_HOST}/public%{REQUEST_URI} [NC]

# Handle anything other than GET requests.
RewriteCond %{REQUEST_METHOD} !=GET
RewriteRule ^ http%{ENV:protossl}://%{HTTP_HOST}/public%{REQUEST_URI} [NC,P]
