.node-ctrl {

  &.view-mode-teaser {

    .inner-wrapper {
      margin-left: 3px;
      border-top: 3px solid $wool;
      border-right: 3px solid $wool;
      border-bottom: 3px solid $wool;
      padding: 18px 18px 18px 15px;
    }

    .ver-type {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      float: left;
    }

    h2.ver-title {
      @include font-size(1.4);
      font-weight: 400;
      float: right;
    }

    .verification-info {
      margin-bottom: 10px;
      overflow: hidden;
    }

    .verification-status {
      border: 1px solid $wool;
      background: $snow;
      padding: 10px;

      .ctrl-verification {
        font-weight: 700;

        &.not-approved {
          color: $wine;
        }

        &.expiring {
          color: $mustard;
        }

        &.approved {
          color: $pear;
        }
      }

      .approved-details {
        float: right;
      }
    }
  }

  &.view-mode-full {

    // Verification header
    .verification-header {
      padding: 40px;
      overflow: hidden;
    }

    .verification-status {
      float: right;
      margin-top: 2.4em;

      .ctrl-verification {
        font-weight: 700;

        &.not-approved {
          color: $wine;
        }

        &.expiring {
          color: $mustard;
        }

        &.approved {
          color: $pear;
        }
      }
    }

    .verification-info {
      overflow: hidden;

      .ver-type {
        text-transform: uppercase;
      }

      h2 {
        @include font-size(3.0,1.2);
      }
    }

    .verification-body {
      padding: 40px;
      background: tint($light-grey,60%);
      border-top: 1px solid $wool;
      border-bottom: 1px solid $wool;

      .empty {
        @include font-size(1.6);
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    .verification-footer {
      padding: 40px;
      text-align: center;

      .modal-close {
        @include button($dark-grey, confirm);
      }
    }

    .ctrl {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ctrl-label {
      font-weight: 500;
      color: $grey;
      padding-bottom: 15px;
      @include font-size(1.6,1);
      border-bottom: 2px solid tint($grey,35%);
      margin-bottom: 15px;
    }

    .ctrl-files-list {
      border: 1px solid $wool;
      background: $snow;

      .file {
        display: block;
        padding: 10px;
        border-bottom: 1px solid $wool;

        &:last-child {
          border-bottom: 0px none;
        }
      }
    }

    .ctrl-notes-list {

      .note {
        color: $grey;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
          color: $coffee;
        }
      }
    }
  }
}

.verifications-summary {
  border-top: 10px solid $neon;

  .summary-header {
    padding: 40px;

    h2 {
      @include font-size(3.0,1.2);
    }
  }

  .summary-body {
    padding: 40px;
    background: tint($light-grey,60%);
    border-top: 1px solid $wool;
    border-bottom: 1px solid $wool;
  }

  .summary-footer {
    padding: 40px;
    text-align: center;

    .modal-close {
      @include button($dark-grey, confirm);
    }
  }
}

.node-ctrl-form {

  // Verification header
  .verification-header {
    padding: 40px;
    overflow: hidden;
  }

  .verification-status {
    float: right;
    margin-top: 2.4em;

    .ctrl-verification {
      font-weight: 700;

      &.not-approved {
        color: $wine;
      }

      &.expiring {
        color: $mustard;
      }

      &.approved {
        color: $pear;
      }
    }
  }

  .verification-info {
    overflow: hidden;

    .ver-type {
      text-transform: uppercase;
    }

    h2 {
      @include font-size(3.0,1.2);
    }
  }

  .form-items-wrapper {
    padding: 40px;
    background: tint($light-grey,60%);
    border-top: 1px solid $wool;
    border-bottom: 1px solid $wool;
  }

  .vertical-tabs-panes {
    display: none;
  }

  .field-name-field-ctrl-notes {
    margin-bottom: 0;

    .form-item {
      margin-bottom: 0;
    }

    td {
      padding: 0;
    }

    .form-type-textarea {
      margin: 0;
    }
  }

  .form-actions {
    padding: 40px;
    text-align: center;
    margin: 0;

    .submit-wrapper {
      position: relative;

      .ajax-progress {
        background: shade($dark-grey,30%);
        top: 0;
        left: 10px;
        right: 10px;
        height: 34px;
        z-index: 100;
        border-radius: 17px;
        text-align: center;

        .throbber {
          float: none;
          margin: 9px auto;
          cursor: pointer;
        }

        .message {
          display: none;
        }
      }
    }
  }
}

.node-ctrl_pen-form {
  @extend .node-ctrl-form;

  .form-item {

    label {
      margin: 0 0 1em;
    }

    &.form-type-textarea {
      margin-bottom: 0;

      .form-textarea {
        width: 100%;
      }
    }
  }

  .form-wrapper {
    margin-bottom: 0;
  }

  .form-items-wrapper {

    & > fieldset.form-wrapper {
      margin-bottom: 2em;
    }
  }

  .form-item-field-ctrl-pen-ok-und {
    margin-bottom: 0px;
  }

  .field-name-field-ctrl-complex-note,
  .field-name-field-ctrl-suspect-note,
  .field-name-field-ctrl-followup-note,
  .field-name-field-ctrl-low-risk-note,
  .field-name-field-ctrl-risk-note {

    label {
      display: none;
    }
  }
}
