.node-investor-private {

  &.view-mode-full {

    .verification {
      @include verification(true);
      float: right;
      margin-top: 1.4em;
    }

    .title h2 {
      text-align: left;
    }

    .investor-details,
    .investor-verifications {

      .detail,
      .investor-control {
        @include node-section-detail;
      }
    }

    .investor-other {

      .other {
        @include node-section-detail;
        text-align: left;

        span.label {
          display: block;
          float: none;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.node-investor-company {

  &.view-mode-full {

    .verification {
      @include verification(true);
      float: right;
      margin-top: 1.4em;
    }

    .title h2 {
      text-align: left;
    }

    .investor-details,
    .investor-verifications {

      .detail,
      .investor-control {
        @include node-section-detail;
      }
    }

    .investor-other {

      .other {
        @include node-section-detail;
        text-align: left;

        span.label {
          display: block;
          float: none;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
