.offer-contact-list {
  padding: 40px;

  .add-more {
    @include button($dark-grey,add);
    margin-bottom: 40px;
  }
}

.page-node-kontaktlista-lagg-till {

  .content-wrapper {
    background: transparent;

    .form-actions {

      .form-submit {
        @include button($dark-grey,add);
      }

      a.cancel-button {
        @include button($wine,cancel);
      }
    }
  }
}
