.offer-contact-list {
  padding: 40px;

  .add-more {
    @include button($dark-grey,add);
    margin-bottom: 40px;
  }

  .views-field-field-transaction-first {

    .editablefield-item {
      display: flex;
      align-items: center;

      .date-padding {
        display: flex;

        .form-text {
          margin-right: 10px;
          width: 90px;
        }
      }

      .field-transaction-first {
        margin-right: 10px;
      }

      .submit-wrapper {
        position: relative;

        .ajax-progress {
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 4px;
          text-align: center;
          border-radius: 24px;
          background: shade($dark-grey,30%);
          cursor: pointer;

          .throbber {
            float: none;
          }

          .message {
            display: none;
          }
        }
      }

      .form-submit {
        @include button($dark-grey,default,small);
        padding: 0 10px;
        margin: 0;
      }
    }
  }
}

.page-node-kontaktlista-lagg-till {

  .content-wrapper {
    background: transparent;

    .form-actions {

      .form-submit {
        @include button($dark-grey,add);
      }

      a.cancel-button {
        @include button($wine,cancel);
      }
    }
  }
}
