.node-offer {

  &.view-mode-full {
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 3 100%;
    }

    .offer-sidebar {
      flex: 1 40%;
      max-width: 300px;
      border-left: 2px solid $light-grey;
      padding-left: 30px;

      .field {
        margin-bottom: 1em;

        .label,
        .file {
          display: block;
          margin-bottom: 3px;
        }

        .file {
          overflow: hidden;
          white-space: nowrap;

          .file-icon {
            display: block;
            float: left;
            margin-right: 5px;
          }

          a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 0px none;
          }
        }
      }
    }

    .offer-description {
      flex: 2 60%;
      padding-right: 30px;
      @include wysiwyg;
    }

    .offer-company {
      float: right;
      width: 140px;
      margin: 0 0 1em 2em;
      text-align: center;
    }

    .offer-additional-information {
      margin-top: 3em;
      color: $grey;
    }
  }
}

#preview-wrapper {
  display: flex;
  padding: 0 40px;
  align-items: baseline;

  #preview-transaction {
    flex-grow: 2;
  }

  #preview-person {
    width: 300px;

    h3 {
      margin-bottom: 30px;
    }

    .no-contacts {
      color: $grey;
      font-style: italic;
    }
  }
}

// Offer creation steps
div.process-steps {
  margin-top: 10px;

  h2 {
    color: $grey;
  }
}

// Offer creation specifics
.page-node-add-offer {

  .add-persons-list {
    padding: 40px;
  }
}

// Add persons list specifics
.page-node-kontaktlista-lagg-till {

  .form-actions {
    text-align: center;
    margin-top: 40px;
  }
}

.page-node-kontaktlista-lagg-till .add-persons-list,
.offers-list {
  @include content-holder;
}

.page-node-add-offer .content-wrapper {
  @include content-holder(edit);
}
