.node-offer {

  &.view-mode-full {

    .offer-time {
      padding-bottom: 30px;
      border-bottom: 2px solid $light-grey;
      margin-bottom: 30px;
      @include font-size(1.6);

      .date-display-range {
        display: inline-block;
      }
    }

    .offer-sidebar {
      float: right;
      width: 40%;
      max-width: 300px;
      margin: 0 0 30px 30px;
      border-left: 2px solid $light-grey;
      padding-left: 30px;

      .field {
        margin-bottom: 1em;

        .label,
        .file {
          display: block;
          margin-bottom: 3px;
        }
      }
    }

    .offer-description {
      overflow: hidden;
    }

    .offer-company {
      float: right;
      width: 140px;
      margin: 0 0 1em 2em;
      text-align: center;
    }

    .offer-additional-information {
      margin-top: 3em;
      color: $grey;
    }
  }
}

#preview-wrapper {
  position: relative;

  #preview-transaction {
    padding: 0 40px 0;
    margin-right: 300px;
  }

  #preview-person {
    width: 300px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 30px;
    border-top: 1px solid $wool;
    border-left: 1px solid $wool;
    border-bottom: 1px solid $wool;
    background: tint($light-grey,60%);
  }
}
