.node-person {

  &.view-mode-full {

    .node-section {
      @include row();
      padding-bottom: 30px;
      border-bottom: 2px solid $light-grey;
      margin-bottom: 30px;
    }

    .person-stakeholder {
      overflow: hidden;

      h3 {
        display: block;
        float: left;
        margin-right: 1em;
        line-height: 34px;
      }

      ul {
        display: block;
        list-style: none;

        li {
          display: block;
          float: left;
          margin-right: 0.5em;

          a {
            @include button;
          }
        }
      }
    }

    .person-details {

      .detail {
        @include span-columns(6 of 12);
        @include pad(10px);
        @include omega(2n);
        border: 2px solid $light-grey;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        text-align: right;

        span.label {
          display: block;
          float: left;
          text-align: left;
          margin-right: 1em;
        }
      }
    }

    .person-other {

      .other {
        @include span-columns(6 of 12);
        @include pad(10px);
        @include omega(2n);
        border: 2px solid $light-grey;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        text-align: left;

        span.label {
          display: block;
          text-align: left;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
