// Wraps Contactlist (Kontaktlista), Stakeholders (Intressenter), Subscription list (Teckningslista)
.view-offers {

  // Offerd amount (Intressenter)
  .views-field-field-offer-amount {

    input {
      margin-right: 5px;
      padding: 0 5px 0 5px 0;
    }

  }

// Verification-status-check (Intressenter)
  a.sedermera-verification-status-check {
    cursor: pointer;
  }
}

// Subscription signing (Teckna intressent)
#sedermera-offer-sign-confirm {

  // Confirm button
  #edit-submit {
    @include button($dark-grey, confirm);
  }
}

.page-node-intressenter {

  .content-wrapper {
    background: $snow;
    padding: 0 0 30px
  }
}
