.node-transaction_agreement-form {
  border-top: 10px solid $neon;

  .verification-header {
    padding: 40px;
    overflow: hidden;
  }

  .verification-info {
    overflow: hidden;

    .ver-type {
      text-transform: uppercase;
    }

    h2 {
      @include font-size(3.0,1.2);
    }
  }

  .modal-form-wrapper {
    padding: 40px;
    background: tint($light-grey,60%);
    border-top: 1px solid $wool;
    border-bottom: 1px solid $wool;
    margin-bottom: 0;

    .form-wrapper:last-child {
      margin-bottom: 0;
    }
  }

  .vertical-tabs {
    display: none;
  }

  .form-actions {
    padding: 40px;
    text-align: center;
    margin: 0;
  }
}
