#tadaa-wrapper {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background: rgba(0,0,0,0.9);
  color: #FFF;
  padding: 5px;
  font-size: 10px;
  z-index: 9999;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}

#tadaa-wrapper #status-wrapper {
	border-right: 1px solid #333333;
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#tadaa-wrapper #tadaa-modules-status,
#tadaa-wrapper #tadaa-variables-status {
	font-size: 9px;
	text-transform: uppercase;
	background: #333;
	padding: 2px 4px;
	margin-right: 2px;
}

#tadaa-wrapper #tadaa-modules-status a,
#tadaa-wrapper #tadaa-variables-status a {
	text-decoration: none;
}

#tadaa-wrapper #tadaa-modules-status.ok,
#tadaa-wrapper #tadaa-modules-status.ok a,
#tadaa-wrapper #tadaa-variables-status.ok,
#tadaa-wrapper #tadaa-variables-status.ok a {
	color: #57A957;
}

#tadaa-wrapper #tadaa-modules-status.error,
#tadaa-wrapper #tadaa-modules-status.error a,
#tadaa-wrapper #tadaa-variables-status.error,
#tadaa-wrapper #tadaa-variables-status.error a {
	color: #C43C35;
}

#tadaa-wrapper #tadaa-modules-status.loading,
#tadaa-wrapper #tadaa-modules-status.loading a,
#tadaa-wrapper #tadaa-variables-status.loading,
#tadaa-wrapper #tadaa-variables-status.loading a {
	color: #CCC;
}

.tadaa-environments-wrapper {
	float: left;
}

.tadaa-mail-wrapper {
	float: left;
	margin-right: 22px;
}

#tadaa-wrapper .form-item-environment {
	padding: 0px 5px 0px 0px;
	margin: 0px 5px 0px 0px;
	border-right: 1px solid #333;
}

#tadaa-wrapper .form-item-email {
	padding: 0px;
	margin: 0px;
}

#tadaa-wrapper .form-item-email .form-text {
	border: 0px none;
	font-size: 9px;
	line-height: 9px;
	width: 150px;
	background: #CCCCCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#tadaa-wrapper .form-item-environment label,
#tadaa-wrapper .form-item-email label {
	float: left;
	margin-right: 5px;
	color: #339BB9;
	text-shadow: 0 -1px 0 #000;
}

#tadaa-wrapper .form-item-environment select {
	border: 0px none;
	font-size: 9px;
	background: #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#tadaa-wrapper .ajax-progress .throbber {
	position: absolute;
	top: 5px;
	right: 5px;
	background: url('ajax-loader.gif');
}

#tadaa-wrapper .ajax-progress .message {
	display: none;
}