// Activities (Transacation sidebar)
.activities-wrapper {

  .sidebar-block {
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 0px;

    @include media($medium) {
      margin-top: 180px;
      height: 100%;
    }
  }

  .activities {

    .entity-message {
      margin-top: 1px;
      padding: 10px 10px 20px 10px;

      &:nth-child(odd) {
        background: $light-grey;
      }

      &:nth-child(even) {
        background: #eaecf0;
      }

      p {
        margin: 0;
        padding: 0;
      }

      a {
        border-bottom: 1px solid $mustard;
      }

      &.unread {
        font-weight: 500;
        padding-left: 20px;
        position: relative;

        &:before {
          @include svg-bg(feed_alert);
          content: '';
          height: 20px;
          left: 0;
          position: absolute;
          top: 10px;
          width: 10px;
        }
      }
    }

    ul {

      &.pager {
        margin-top: 20px;
        position: static;
        padding: 0;

        li {

          a {
            background: $light-concrete;
          }
        }
      }
    }

    // Activity-date
    .activity-date {
      @include font-size(1.2);
      color: $grey;
      font-weight: 700;
      padding-bottom: 5px;
    }

    p {
      @include font-size(1.2);
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
}
