// Investor Person/Company Control (Kontroll)
#eck-entity-form-edit-investor-person,
#eck-entity-form-edit-investor-company {
  background: $snow;
  padding: 50px 40px 20px 40px;

  // File
  .form-type-managed-file {
    border-right: 1px solid $light-concrete;
    float: left;
    display: block;
    margin-right: 20px;
    padding-right: 20px;
    width: auto;
  }

  .status-fields {
    float: left;
  }

  // Approved checkbox
  .field-type-list-boolean {
    display: inline-block;
    float: left;
    margin-top: 22px;
  }

  // Date
  .field-type-date {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;
  }

  .option {
    margin-top: 10px;
  }

  .checker {
    margin-bottom: 2px;
  }

  form {

    .form-item {
      margin-bottom: 5px;
    }
  }
}

// Verification header
.verification-header {
  margin-bottom: 20px;
  overflow: hidden;

  h2 {
    @include font-size(2.5);
    display: inline-block;
    float: left;
  }

  // Approved, not approved, expired text
  .approved,
  .not-approved,
  .expired {
    @include font-size(2.5);
    background: none;
    height: auto;
    padding: 0;
    text-transform: lowercase;
    width: auto;
  }

  .approved {
    color: $pear;
  }

  .not-approved,
  .expired {
    color: $wine;
  }

  // Expiring date
  .expires {
    color: $cloudy;
    display: inline-block;
    float: right;
    font-weight: 500;
    margin-top: 17px;
    text-transform: lowercase;
  }
}

// When logged in as inspector (granskare) styling
.title-container {
  background: $light-concrete;
  border-bottom: 1px solid $wool;
  border-radius: 2px 2px 0 0;
  display: block;
  font-weight: 500;
  padding: 10px 0 11px 10px;
}

// When logged in as inspector (granskare) styling
.content-container {
  background: #eaecf0;
  border-radius: 0 0 2px 2px;
  padding: 10px;
  margin-bottom: 20px;
}

// Not approved control
.not-approved-control {

  .fieldset-legend {
    background: $bubblegum;
  }
}
