.node-kontrolluppgift,
.node-kontrolluppgift-privat {

  &.view-mode-full {
    max-width: 1800px;

    .control_list {
      overflow: hidden;

      .approved-control,
      .not-approved-control {
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid $light-grey;

        h3 {
          margin-bottom: 15px;
        }
      }
    }

    .handle-control {

      input {
        @include button($dark-grey,flow);
      }
    }
  }
}

// Investor Person/Company Control (Kontroll)
#eck-entity-form-edit-investor-person,
#eck-entity-form-edit-investor-company {
  background: $snow;
  padding: 50px 40px 20px 40px;

  // Remove form-wrapper fieldset from view.
  fieldset#edit-field-shared-ctrl-und {

    > legend {
      display: none;
    }

    > .fieldset-wrapper {
      padding: 0;
      background: transparent;
    }
  }

  // Headings
  h3 {
    margin-bottom: 15px;
  }

  // Control sections
  .control-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid $light-grey;
  }

  // File
  .form-type-managed-file {
    border-right: 1px solid $light-concrete;
    float: left;
    display: block;
    margin-right: 20px;
    padding-right: 20px;
    width: auto;
  }

  .status-fields {
    overflow: hidden;
  }

  // Approved checkbox
  .field-type-list-boolean {
    display: inline-block;
    float: left;
    margin-top: 22px;
  }

  // Date
  .field-type-date {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;
  }

  .option {
    margin-top: 10px;
  }

  .checker {
    margin-bottom: 2px;
  }

  form {

    .form-item {
      margin-bottom: 5px;
    }
  }
}

// Verification header
.verification-header {
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom: 2px solid $light-grey;
  padding-bottom: 20px;

  h2 {
    @include font-size(2.5);
    display: inline-block;
    float: left;
  }

  // Approved, not approved, expired text
  .approved,
  .not-approved,
  .expired {
    @include font-size(2.5);
    background: none;
    height: auto;
    padding: 0;
    text-transform: lowercase;
    width: auto;
  }

  .approved {
    color: $pear;
  }

  .not-approved,
  .expired {
    color: $wine;
  }

  // Expiring date
  .expires {
    color: $cloudy;
    display: inline-block;
    float: right;
    font-weight: 500;
    margin-top: 17px;
    text-transform: lowercase;
  }
}

// When logged in as inspector (granskare) styling
.title-container {
  background: $light-concrete;
  border-bottom: 1px solid $wool;
  border-radius: 2px 2px 0 0;
  display: block;
  font-weight: 500;
  padding: 10px 0 11px 10px;
}

// When logged in as inspector (granskare) styling
.content-container {
  background: #eaecf0;
  border-radius: 0 0 2px 2px;
  padding: 10px;
  margin-bottom: 20px;
}

// Not approved control
.not-approved-control {

  .fieldset-legend {
    background: $bubblegum;
  }
}

// Revisions
#revisioning-revisions-summary {
  padding: 50px 40px;
  background: $snow;

  .table-revisions {

    tr.revision-current {

      td {
        background: tint($honey,60%);

        a {
          border-bottom: 1px solid $honey;

          &:hover {
            border-bottom: 1px solid $night;
          }
        }

        .revisions-active {
          @include svg-bg(arrow_right_honey,transparent,0 3px);
        }
      }
    }
  }
}

.page-node-revisions-view,
.page-node-revisions-edit {

  .node-kontrolluppgift,
  .node-kontrolluppgift-privat,
  .node-kontrolluppgift_privat-form,
  .node-kontrolluppgift-form {
    padding: 50px 40px;
    background: $snow;

    .control_list {
      overflow: hidden;

      .approved-control,
      .not-approved-control {
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid $light-grey;

        h3 {
          margin-bottom: 15px;
        }
      }
    }
  }
}
