// Dashboard
.page-oversikt {

  .main-content {

    .content-column {
      @include span-columns(9 of 12);
      @include pad(0 40px 0 0);
      background-color: #f3f4f8;
    }
  }

  .content-sidebar {
    @include span-columns(3 of 12);
    @include omega();
    margin-top: 8px;

    .sidebar-second-icon {
      display: none;
    }
  }

  h2 {
    text-transform: uppercase;
  }

  // Activity (Aktivitet)
  .activities-wrapper {

    h2 {
      @include font-size(2.0);
      background: transparent;
      border-bottom: 1px solid $wool;
      padding: 0 0 15px 0;
      text-align: left;
      position: relative;
      padding-left: 30px;
      line-height: 18px;

      // Activity icon
      &:before {
        @include svg-bg(activity);
        content: '';
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
      }
    }

    // Activity message
    .entity-message {
      margin-top: 1px;

      &:nth-child(odd) {
        background: $snow;
      }

      &:nth-child(even) {
        background: #fafbfc;
      }

      p {
        @include font-size(1.4);
      }

      // Activity date
      .activity-date {

        p {
         @include font-size(1.2);
        }
      }
    }
  }

  .table-wrapper {
    padding-bottom: 0px;
    overflow: visible;
  }
}

// Expiring transaction wrapper (Utgående transaktion)
.capital-rasing-db-wrapper {
  margin-bottom: 70px;
}

// Expiring transaction header
.captial-rasing-db {
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;

  // Expiring transaction icon (Utgående transaktion)
  &:before {
    @include svg-bg(transaction_dark_grey);
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 20px;
  }
}

// Time remaning date (Löptid)
.views-field-field-cap-rais-date {
  width: 20%;

  a {
    @include status-button($honey);
    font-weight: 700;
    text-align: center;
  }
}

// Expiring controls (Utgående kontroller)
.block-sedermera-dashboard-verifications {

  h2 {
    @include font-size(2.0);
    padding: 0 0 15px 0;
    text-align: left;
    position: relative;
    padding-left: 30px;
    line-height: 18px;

    // Activity icon
    &:before {
      @include svg-bg(clock);
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  th {
    padding: 10px 0px 10px 10px;
  }
}

// Expiring controls (Utgående kontroller) - Control (Kontroll)
// (Must be the same width as .views-field-field-cap-rais-date)
.verification-status {
  width: 20%;
}
