// Document node
.node-type-document {

  .content-wrapper {
    background: $snow;
  }
}

// Document node view mode full
.node-document.view-mode-full {
  padding-bottom: 60px;
}

// Node type document
.node-type-document {

  .node-document-form {
    padding: 50px 40px 40px 40px;

    .form-body {
      padding: 0 20px 40px 20px;
    }
  }
}

.page-dokument-read-user,
.page-dokument-read-doc {

  .main-content {
    overflow: visible;
  }
}
