// Document node
.node-type-document {

  .content-wrapper {
    background: $snow;
  }
}

// Document node view mode full
.node-document.view-mode-full {
  padding-bottom: 60px;
}

// Node type document
.node-type-document {

  .node-document-form {
    padding: 20px 0 40px 20px;

    .form-body {
      padding: 0 20px 40px 20px;
    }
  }
}

.page-node-revisions-edit {

  .node-document-form {
    padding: 0 0 40px 20px;
  }
}

// Page dokument
.page-dokument {

  .table-wrapper {
    width: 100%;
  }

    // Display selcet list properly
   .main-content {
    overflow: visible;
  }
}

#edit-field-document-files-und-0-upload {
  width: 190px;
}

.field-type-entityreference {

  .submit-wrapper {

    input {
      @include button($dark-grey, add-mini, small);
      background-position: 11px 7px;
    }
  }

  thead {
    border: 0;
  }

  th {
    background: #D4D6D9;
    color: #282828;
  }

  td {
    padding: 0;
  }

  tr.odd {
   background: #D4D6D9;
  }
}
