// Empty filter message
.empty-wrapper {
  padding: 80px 30px;

  .empty-icon {
    @include svg-bg(sad_computer, $background-color: transparent, $background-position: center top);
    height: 93px;
  }

  p {
    @include font-size(2.0);
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
  }
}

// Empty message
.empty-container {
  background: $snow;
  padding: 5px 5px 5px 20px;
  text-align: left;
}
