// Wraps the entire table
.filtered-table {
  overflow: hidden;
  background: $snow;
}

// Wraps the entire filter
.table-filter {
  float: left;
  background: $wool;
  width: 280px;

  h2.filter-icon {
    background: $dark-grey;
    padding: 11px 0 11px 0;
    border-bottom: 1px solid;

    .icon {
      @include svg-bg(filter_icon);
      display: block;
      margin: 0px auto;
      width: 20px;
      height: 20px;
      font-size: 0;
      color: $dark-grey;
      text-indent: 42px;
      overflow: hidden;
    }
  }

  form {
    padding: 0 10px 10px 10px;

    .submit-wrapper {
      position: relative;

      .form-submit {
        @include button($dark-grey);
        text-align: center;
        width: 100%;
      }

      .ajax-progress {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        border-radius: 34px;
        cursor: pointer;
        background: shade($dark-grey,30%);
        height: 100%;
        text-align: center;
        padding-top: 9px;

        .throbber {
          @include throbber;
          margin: 0 auto;
          float: none;
        }
      }
    }

    .filter-item {
      margin-bottom: 20px;

      > label {
        background: $light-concrete;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 0 11px 0;
        margin-top: 20px;
        border-bottom: 1px solid $wool;
        border-radius: 2px 2px 0 0;
      }

      > .form-item {
        padding: 10px;
        border-radius: 2px;
      }
    }

    .form-item {
      background: $steel;
      font-size: 12px;

      &.form-type-bef-checkbox {
        height: 18px;
        position: relative;
        padding-left: 23px;
        line-height: 18px;
        margin-bottom: 5px;

        .checker {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &.form-type-textfield {

        .form-text {
          padding: 5px;
          border-radius: 2px;
          width: 100%;

          &:focus {
            box-shadow: 0 0 3px tint($dark-grey,50%);
          }
        }
      }
    }
  }
}

// Wraps the table (all content and filtred content)
.table-wrapper {
  overflow: hidden;

  table {
    width: 100%;

    thead {
      background: $aluminium;
      border-top: 1px solid $wool;
      border-bottom: 1px solid $wool;
      font-weight: 700;

      th {
        height: 42px;
        text-align: left;

        &.views-field {
          padding: 10px 0px 10px 10px;

          &.active {

            a {
              border-bottom: 2px solid $mustard;
            }
          }
        }

        a {
          font-size: $standard;
          color: $coffee;
          border-bottom: 0px none;

          img {
            margin-left: 5px;
            border-bottom: none;
          }
        }
      }
    }

    td {
      height: 40px;
      padding: 10px 0 10px 10px;
      vertical-align: top;
    }

    tr {

      &.even {
      background: #fafbfc;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      }

      &.odd {
        background: #fff;
      }
    }

    td {
      color: $dark-concrete;
    }
  }
}
