// Wraps the entire table
.filtered-table {
  background: $snow;
  overflow: hidden;
}

// Wraps the entire filter
.table-filter {
  background: $wool;
  float: left;
  width: 280px;

  h2.filter-icon {
    background: $dark-grey;
    border-bottom: 1px solid;
    padding: 11px 0 11px 0;

    .icon {
      @include svg-bg(filter_icon);
      color: $dark-grey;
      display: block;
      font-size: 0;
      height: 20px;
      margin: 0px auto;
      overflow: hidden;
      text-indent: 42px;
      width: 20px;
    }
  }

  form {
    padding: 0 10px 20px;

    .submit-wrapper {
      display: block;
      height: 34px;
      position: relative;

      .form-submit {
        @include button($dark-grey);
        text-align: center;
        width: 100%;
      }

      .page-node-add & {
        display: block;

        .form-submit {
          margin: 0;
        }
      }

      .ajax-progress {
        background: shade($dark-grey,30%);
        border-radius: 34px;
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        margin: 0;
        padding-top: 9px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        .throbber {
          @include throbber;
          margin: 0 auto;
          float: none;
        }
      }
    }

    .filter-item {
      margin: 20px 0;

      > label {
        background: $light-concrete;
        border-bottom: 1px solid $wool;
        border-radius: 2px 2px 0 0;
        display: block;
        font-weight: 700;
        padding: 10px 0 11px 0;
        text-align: center;
        text-transform: uppercase;
      }

      > .form-item {
        border-radius: 2px;
        padding: 10px;
      }
    }

    .form-item {
      background: $steel;
      font-size: 12px;

      &.form-type-bef-checkbox {
        height: 18px;
        line-height: 18px;
        margin-bottom: 5px;
        padding-left: 23px;
        position: relative;

        .checker {
          left: 0;
          position: absolute;
          top: 0;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }

      &.form-type-textfield {

        .form-text {
          border-radius: 2px;
          padding: 5px;
          width: 100%;

          &:focus {
            box-shadow: 0 0 3px tint($dark-grey,50%);
          }
        }
      }
    }
  }
}

// Wraps the table (all content and filtred content)
.table-wrapper {
  overflow: hidden;
  padding-bottom: 60px;
  position: relative;

  table {
    width: 100%;

    thead {
      background: $aluminium;
      border-bottom: 1px solid $wool;
      border-top: 1px solid $wool;
      font-weight: 700;

      th {
        height: 42px;
        text-align: left;

        &.views-field {
          padding: 10px 0px 10px 10px;

          &.active {

            a {
              border-bottom: 2px solid $mustard;
            }
          }
        }

        a {
          border-bottom: 0px none;
          color: $coffee;
          font-size: $standard;

          img {
            border-bottom: none;
            margin-left: 5px;
          }
        }
      }
    }

    td {
      height: 44px;
      padding: 10px 0 10px 10px;
      vertical-align: middle;

      .form-actions {
        margin: 0;
      }

      .form-item {
        margin-bottom: 0;

        &.form-type-checkbox {
          padding-top: 2px;

          label.option {
            display: block;
            line-height: 18px;
            padding-left: 23px;
            position: relative;

            .checker {
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }

        &.form-type-textfield {

          .form-text {
            margin: 0;
            padding: 0 2px;
          }
        }
      }

      .editablefield-item {
        position: relative;

        .form-actions {

          .submit-wrapper {
            display: block;
          }

          .ajax-progress {
            height: 100%;
            left: 0px;
            padding-top: 3px;
            position: absolute;
            top: 0px;
            width: 100%;

            .throbber {
              @include throbber;
            }

            .message {
              padding-left: 24px;
            }
          }
        }
      }
    }

    tr {

      &.even {
        background: tint($light-grey,60%);
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;

        .ajax-progress {
          background: tint($light-grey,60%);
        }
      }

      &.odd {
        background: $snow;

        .ajax-progress {
          background: $snow;
        }
      }
    }

    td {
      color: $dark-concrete;
    }
  }

  input {
    border: 1px solid $light-concrete;
  }
}
