// TABLE-WRAPPER

.table-filter {
  float: left;
  background: $wool;

  h2.filter-icon {
    background: $dark-grey;
    padding: 11px 0 11px 0;
    border-bottom: 1px solid;

    .icon {
      @include svg-bg(filter_icon);
      display: block;
      margin: 0px auto;
      width: 20px;
      height: 20px;
      font-size: 0;
      color: $dark-grey;
      text-indent: 42px;
      overflow: hidden;
    }
  }

  form {
    padding: 20px 10px 10px 10px;

    .form-submit {
      @include button($dark-grey,update);
    }

    .form-item {
      background: $steel;
    }
  }
}

.table-wrapper {
  overflow: hidden;

  table {
    width: 100%;

    thead {
      background: $aluminium;
      border-top: 1px solid $wool;
      border-bottom: 1px solid $wool;

      th {
        height: 40px;

        &.views-field {
          padding: 10px 0px 10px 10px;

          &.active {

            a {
              border-bottom: 2px solid $mustard;
            }
          }
        }

        a {
          font-size: $standard;
          font-weight: 700;
          float: left;
          color: $coffee;
          border-bottom: 0px none;

          img {
            margin-left: 5px;
            border-bottom: none;
          }
        }
      }
    }

    td {
      height: 40px;
      padding: 10px 0 10px 10px;
    }

    tr {

      &.even {
      background: #fafbfc;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      }

      &.odd {
        background: #fff;
      }
    }

    td {
      color: $dark-concrete;
    }
  }
}
