.page-admin form,
.page-investor-person-edit form,
.page-investor-company-edit form,
.not-logged-in.page-user form,
.page-node-add form,
.page-node-edit form {
  max-width: 800px;

  fieldset {
    position: relative;
    margin-bottom: 20px;

    .fieldset-wrapper {
      background: $wool;
      padding: 20px 20px 5px;
      border-radius: 3px;
    }

    legend {
      height: 40px;

      span.fieldset-legend {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 40px;
        width: 100%;
        padding: 0;
        @include font-size(2.0,1.6);
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .fieldset-description {
      margin-bottom: 20px;
      font-style: italic;
      background: tint($wool,40%);
      color: $coffee;
      padding: 10px;
      border-radius: 2px;
    }
  }

  .form-item {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: 500;
      margin-bottom: 3px;
    }

    .description {
      @include font-size(1.2,1.3);
      font-style: italic;
    }

    &.form-type-select {
      position: relative;

      label {
        display: none;
      }

      .ajax-progress {
        margin: 0 3px;
        padding: 9px 4px;
        background: $snow;
        z-index: 10;
        position: absolute;
        height: 39px;
        width: 200px;

        .throbber {
          @include throbber;
        }

        .message {
          display: none;
        }
      }
    }

    &.form-type-textfield {
      position: relative;

      label {
        position: absolute;
        top: 11px;
        left: 10px;
      }

      .form-required {
        display: inline-block;
        width: 15px;
        height: 15px;
        @include svg-bg(required);
        position: relative;
        left: -25px;
        top: 2px;
        color: transparent;
        font-size: 0px;
        overflow: hidden;
        text-indent: 100px;
        line-height: 0px;
      }

      #autocomplete {
        border: 0 none;
        margin: 3px 0 0;
        box-shadow: 0 0 3px tint($dark-grey,50%);

        ul {

          li {
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid $wool;
            cursor: pointer;
            padding: 0 10px;

            &:hover {
              background: $light-grey;
            }
          }
        }
      }

      .throbber {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $wool;
        margin-left: -23px;
        border-radius: 50%;

        &.throbbing {
          margin: -3px -3px -3px -26px;
          width: 16px;
          height: 16px;
          border-color: $mustard;
          border-top-color: transparent;
          @include animation(load 0.9s linear infinite);
        }
      }
    }

    &.form-type-managed-file {

      .image-widget {
        float: left;

        .image-widget-data {
          background: $snow;
          border-radius: 2px;
          margin-bottom: 5px;
          position: relative;

          .icon {
            display: block;
            position: absolute;
            left: 9px;
            top: 9px;
            width: 20px;
            height: 20px;
            @include svg-bg(folder);
          }

          .text {
            position: absolute;
            left: 34px;
            top: 10px;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0;
          }

          input[type="file"] {
            display: block;
            float: left;
            width: 240px;
            height: 39px;
            opacity: 0;
          }

          .submit-wrapper {
            margin: 8px 8px 0 0;
            height: 24px;
            position: relative;

            .form-submit {
              @include button($dark-grey,upload,small);
              margin: 0;
            }

            .ajax-progress {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              margin: 0 8px 0 0;
              border-radius: 24px;
              cursor: pointer;
              background: shade($dark-grey,30%);
              height: 100%;
              text-align: center;
              padding-top: 4px;

              .throbber {
                @include throbber;
                margin: 0 auto;
                float: none;
              }
            }
          }
        }

        &.populated {
          background: $snow;
          border-radius: 2px;
          margin-bottom: 5px;
          padding: 10px;

          .image-preview {
            margin: 0 10px 0 0;
            line-height: 0px;
            padding: 0;
          }

          .image-widget-data {
            background: transparent;
            border-radius: 0px;
            margin: 10px 0;

            .submit-wrapper {
              margin: 0 0 0 10px;

              .form-submit {
                @include button($dark-grey,delete,small);
                margin: 0;
              }
            }
          }
        }
      }

      .description {
        clear: both;
      }
    }
  }

  .form-text {
    padding: 10px 30px 10px 10px;
    border-radius: 2px;
    margin-bottom: 5px;

    &.form-autocomplete {

      .js & {
        background-image: none;

        &.throbbing {
          background-image: none;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 3px tint($dark-grey,50%);
    }
  }

  .submit-wrapper {
    display: inline-block;

    .form-submit {
      margin-right: 10px;

      &#edit-submit {
        @include button($dark-grey,save);
      }

      &#edit-delete {
        @include button($wine,delete);
      }
    }
  }
}
