form {

  .form-sidebar {
    background: $wool;
    padding: 20px;
    width: 30%;

    .form-text {
      width: 100%;
    }

    .group-cap-rais-details {

      .form-text {
        width: 65%;
      }
    }
  }

  .form-body {
    background: $snow;
    overflow: hidden;
    padding: 20px;
    width: 70%;
  }

  .form-actions {
    margin-top: 20px;
  }

  .messages {
    padding: 10px;
    color: $snow;
    font-weight: 500;
    margin: 10px 0;

    &.status {
      background: $cactus;
    }

    &.warning {
      background: $mustard;
    }

    &.error {
      background: $wine;
    }
  }

  .field-suffix {
    font-weight: 500;
    margin-left: 5px;
  }

  fieldset {
    position: relative;
    margin-bottom: 20px;

    legend {
      height: 40px;
      width: 100%;

      .fieldset-legend {
        background: $light-concrete;
        text-align: left;
        display: block;
        height: 40px;
        width: 100%;
        @include font-size($standard,1.3);
        font-weight: 500;
        text-transform: none;
        padding: 10px 0 11px 10px;
        border-bottom: 1px solid $wool;
        border-radius: 2px 2px 0 0;

        .form-required {
          display: block;
          float: left;
          width: 18px;
          height: 18px;
          @include svg-bg(required, transparent, 5px center);
          color: transparent;
          font-size: 0px;
          overflow: hidden;
          text-indent: 100px;
          line-height: 0;
          margin-right: 12px;
          margin-left: -10px;
        }
      }
    }

    .fieldset-wrapper {
      background: $steel;
      padding: 10px;
      border-radius: 0 0 2px 2px;
      overflow: hidden;

      fieldset {
        background: $steel;
        position: relative;
        border-radius: 2px;

        &.filter-wrapper {
          display: none;
        }

        .fieldset-legend {
          background: $light-concrete;
          text-align: left;
          display: block;
          @include font-size($standard,1.3);
          font-weight: 500;
          text-transform: none;
          padding: 10px 0 11px 0;
          border-bottom: 1px solid $wool;
          border-radius: 2px 2px 0 0;

          .form-required {
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            @include svg-bg(required, transparent, 5px center);
            color: transparent;
            font-size: 0;
            overflow: hidden;
            text-indent: 100px;
            line-height: 0px;
            margin-right: 12px;
          }
        }

        .fieldset-wrapper {
          overflow: hidden;
          padding: 10px;
          background: transparent;

          .fieldset-description {
            padding: 0;
            background: transparent;
          }
        }
      }
    }

    .fieldset-description {
      margin-bottom: 10px;
      font-style: italic;
      padding: 0 10px 0 0;
    }

    .container-inline-date {
      position: relative;
      width: 100%;
      margin: 0;

      .form-item {
        margin: 0;
        width: 100%;

        .description {
          display: none;
        }

        label {
          margin: 10px 0;
          text-align: left;
          font-weight: 700;
          @include font-size(1.2,1.5);
          height: 18px;

          .form-required {
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            @include svg-bg(required, transparent, 0 center);
            color: transparent;
            font-size: 0;
            overflow: hidden;
            text-indent: 100px;
            line-height: 0px;
          }
        }

        .date-padding {
          width: 100%;
          padding: 0;
        }

        .form-text {
          width: 100%;
          padding: 10px;
          margin: 0;
        }
      }
    }

    .tabledrag-changed-warning {
      background: $mustard;
      border-radius: 2px;
      color: $snow;
      padding: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      display: block;
      padding-left: 27px;
      position: relative;

      span.warning {
        font-size: 25px;
        line-height: 10px;
        padding-top: 0px;
        position: absolute;
        left: 10px;
        top: 17px;
      }
    }

    .tabledrag-toggle-weight-wrapper {
      display: none;
    }

    table.tabledrag-processed {
      width: 100%;
      margin-bottom: 20px;

      thead {
        background: $dark-grey;
        color: $snow;
        text-align: left;
        font-weight: 500;

        th {
          padding: 10px;
        }
      }

      tbody {

        tr {
          border-bottom: 1px solid $wool;

          .page-node-add-document & {
            border: 0;
          }

          &.even {
            background: tint($wool,30%);

            a.tabledrag-handle {
              background-color: tint($wool,30%);

              &:hover,
              &.tabledrag-handle-hover {
                background-color: tint($wool,30%);
              }
            }
          }

          &.odd {
            background: tint($wool,50%);

            .page-node-add-document & {
              background: $steel;
            }

            a.tabledrag-handle {
              background-color: tint($wool,50%);

              &:hover,
              &.tabledrag-handle-hover {
                background-color: tint($wool,50%);
              }
            }
          }

          &.drag {
            background: tint($wool,70%);

            a.tabledrag-handle {
              background-color: tint($wool,70%);

              &:hover,
              &.tabledrag-handle-hover {
                background-color: tint($wool,70%);
              }
            }
          }

          td {
            padding: 10px;
            position: relative;

            .page-node-add-document & {
              padding: 0;
            }

            .file-widget {

              .file-widget-data {
                //padding-left: 15px;
              }
            }

            a.tabledrag-handle {
              margin-top: 1px;
              margin-left: -5px;
              width: 16px;
              height: 30px;
              border-radius: 3px 0 0 3px;
              @include svg-bg(tabledrag_handle,transparent,center center);
              border: 0px none;
              position: relative;
              z-index: 2;

              &:hover,
              &.tabledrag-handle-hover {
                border: 0px none;
                @include svg-bg(tabledrag_handle_hover,transparent,center center);
                z-index: 5;
              }
            }

            .tabledrag-changed {
              position: absolute;
              top: 22px;
              width: 14px;
              left: 6px;
              height: 8px;
              background: $bubblegum;
              border-radius: 4px;
              overflow: hidden;
              text-indent: 20px;
              font-size: 0px;
              line-height: 0px;
              z-index: 3;
            }

            .form-item {
              margin-bottom: 5px;

              .form-text {
                padding: 5px;
                margin-top: 15px;
                width: 100%;

                .page-node-add-document & {
                  margin-top: 0;
                }
              }
            }

            .submit-wrapper {
              margin: 0;
              height: 24px;
              position: relative;

              .form-submit {
                @include button($dark-grey,delete,small);
                margin: 0;
              }

              .ajax-progress {
                display: block;
                position: absolute;
                left: 0;
                top: 9px;
                width: 100%;
                margin: 0 8px 0 0;
                border-radius: 24px;
                cursor: pointer;
                background: shade($dark-grey,30%);
                height: 100%;
                text-align: center;
                padding-top: 4px;

                .throbber {
                  @include throbber;
                  margin: 0 auto;
                  float: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .filter-item {

    .form-item {

      &.form-type-select {

        label {
          display: block;
        }
      }
    }
  }

  .field-type-text-with-summary,
  .field-type-text-long {

    .filter-wrapper {
      display: none;
    }
  }

  .form-item {
    margin-bottom: 20px;

    label {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 3px;
    }

    .description {
      @include font-size(1.2,1.3);
      font-style: italic;
      margin-top: 5px;
    }

    &.form-type-select {
      position: relative;

      label {
        display: none;
      }

      .ajax-progress {
        margin: 0 3px;
        padding: 9px 4px;
        background: $snow;
        z-index: 10;
        position: absolute;
        height: 39px;
        width: 200px;

        .throbber {
          @include throbber;
        }

        .message {
          display: none;
        }
      }
    }

    &.form-type-textfield,
    &.form-type-password {
      position: relative;

      label {
        position: absolute;
        top: 11px;
        left: 10px;
      }

      .form-required {
        display: inline-block;
        width: 24px;
        height: 39px;
        @include svg-bg(required, $light-grey, 5px center);
        position: absolute;
        left: 0px;
        top: 0px;
        color: transparent;
        font-size: 0px;
        overflow: hidden;
        text-indent: 100px;
        line-height: 0px;
        border-radius: 2px 0 0 2px;
      }

      #autocomplete {
        border: 0 none;
        margin: 3px 0 0;
        box-shadow: 0 0 3px tint($dark-grey,50%);

        ul {

          li {
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid $wool;
            cursor: pointer;
            padding: 0 10px;

            &:hover {
              background: $light-grey;
            }
          }
        }
      }

      .throbber {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $wool;
        margin-left: -23px;
        border-radius: 50%;

        &.throbbing {
          margin: -3px -3px -3px -26px;
          width: 16px;
          height: 16px;
          border-color: $mustard;
          border-top-color: transparent;
          @include animation(load 0.9s linear infinite);
        }
      }
    }

    &.form-type-textarea {
      background: $aluminium;
      padding: 10px;
      border-radius: 2px;
      margin-bottom: 20px;

      .mce-panel {
        border: 0 solid $aluminium;
        background: $aluminium;
      }

      label {
        background: $light-concrete;
        text-align: left;
        display: block;
        height: 40px;
        @include font-size($standard,1.3);
        font-weight: 500;
        text-transform: none;
        padding: 10px 0 11px 10px;
        margin: -10px -10px 0;
        border-bottom: 1px solid $snow;
        border-radius: 2px 2px 0 0;

        .form-required {
          display: block;
          float: left;
          width: 18px;
          height: 18px;
          @include svg-bg(required, transparent, 5px center);
          color: transparent;
          font-size: 0px;
          overflow: hidden;
          text-indent: 100px;
          line-height: 0px;
          margin-right: 12px;
          margin-left: -10px;
        }
      }
    }

    &.form-type-managed-file {

      .image-widget,
      .file-widget {
        float: left;

        .image-widget-data,
        .file-widget-data {
          background: $snow;
          border-radius: 2px;
          margin-bottom: 5px;
          position: relative;
          float: left;

          .icon {
            display: block;
            position: absolute;
            left: 9px;
            top: 9px;
            width: 20px;
            height: 20px;
            @include svg-bg(folder);
          }

          .text {
            position: absolute;
            left: 34px;
            top: 10px;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0;
          }

          input[type="file"] {
            display: block;
            float: left;
            width: 240px;
            height: 39px;
            opacity: 0;
          }

          .file {
            display: inline-block;
            padding: 0 5px 10px 5px;
          }

          .file-size {
            padding-right: 5px;
          }

          .submit-wrapper {
            margin: 8px 8px 8px 0;
            height: 24px;
            position: relative;

            .form-submit {
              @include button($dark-grey,upload,small);
              margin: 0;
            }

            .ajax-progress {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              margin: 0 8px 0 0;
              border-radius: 24px;
              cursor: pointer;
              background: shade($dark-grey,30%);
              height: 100%;
              text-align: center;
              padding-top: 4px;

              .throbber {
                @include throbber;
                margin: 0 auto;
                float: none;
              }
            }
          }
        }

        &.populated {
          background: $snow;
          border-radius: 2px;
          margin-bottom: 5px;
          padding: 10px;

          .image-preview {
            margin: 0 10px 0 0;
            line-height: 0px;
            padding: 0;
          }

          .image-widget-data {
            background: transparent;
            border-radius: 0px;
            margin: 10px 0;

            .submit-wrapper {
              margin: 0 0 0 10px;

              .form-submit {
                @include button($dark-grey,delete,small);
                margin: 0;
              }
            }
          }
        }
      }

      .description {
        clear: both;
      }
    }
  }

  .form-text {
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    max-width: 100%;

    &.form-autocomplete {
      padding: 10px 30px 10px 10px;

      .js & {
        background-image: none;

        &.throbbing {
          background-image: none;
        }
      }
    }

    &.required {
      padding: 10px 30px;
      height: 39px;
    }

    &:focus {
      box-shadow: 0 0 3px tint($dark-grey,50%);
    }
  }

  .submit-wrapper {
    display: inline-block;

    .form-submit {
      margin-right: 10px;
    }
  }
}

#ui-datepicker-div {
  font-family: $body-font;
  background: $snow;
  border-right: 0px none;
  border-bottom: 0px none;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;

  &.ui-datepicker {
    padding: 0px;

    .ui-datepicker-header {
      margin: 0;
      padding: 5px;
      background: $mustard;
      overflow: hidden;
      border-radius: 2px 2px 0 0;

      .ui-datepicker-prev,
      .ui-datepicker-next {
        width: 22px;
        height: 22px;
        border-bottom: 0 none;
        top: 8px;
        cursor: pointer;

        &:hover {
          border-bottom: 0 none;
        }

        span {
          left: 4px;
          top: 4px;
          margin: 0;
          width: 14px;
          height: 14px;
          overflow: hidden;
          color: $mustard;
          font-size: 0;
          line-height: 0;
        }
      }

      .ui-datepicker-prev {
        left: 5px;

        span {
          @include svg-bg(date_left);
        }
      }

      .ui-datepicker-next {
        right: 5px;

        span {
          @include svg-bg(date_right);
        }
      }
    }

    .ui-datepicker-title {
      overflow: hidden;
      margin: 0 27px;

      select.ui-datepicker-month,
      select.ui-datepicker-year {
        border-radius: 2px;
        background: tint($mustard,70%);
        padding: 0 5px;
      }
    }

    table {

      thead {
        background: $light-grey;

        th {
          padding: 5px;
        }
      }

      tbody {

        td {
          padding: 1px;

          a {
            padding: 5px;
            border: 0px none;
            text-align: center;

            &.ui-state-highlight {
              border-radius: 2px;
              background: tint($mustard,85%);
            }

            &.ui-state-active {
              border-radius: 2px;
              background: $mustard;
              color: $snow;
              font-weight: 700;

              &:hover {
                background: $mustard;
              }
            }

            &:hover {
              background: tint($mustard,70%);
              font-weight: 700;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}

// Form submit confirmation styling / Delete (Page node delete)
form.confirmation {
  @include font-size(1.6);
  display: inline-block;
  font-weight: 700;
  padding: 50px 40px 20px 40px;

  .page-node-revisions & {
    padding: 0 40px 60px 40px;
  }

  input {
    @include button($dark-grey, confirm);
    display: inline;
  }

  .form-actions.form-wrapper {
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    .submit-wrapper {
      display: inline;
    }

    #edit-submit {
      @include button($dark-grey, delete);
    }
  }
}

// Revision information
#edit-log {
  border: 0;
  margin-top: 10px;
}

// Document type label
.form-item label[for=edit-field-document-type-und] {
  background: #c8cacd;
  border-radius: 2px 2px 0 0;
  display: block;
  font-size: 1.4rem;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 18.2px;
  margin-bottom: 0;
  padding: 10px 0 11px 0;
  text-align: left;
  text-transform: none;

  // Required symbol
  .form-required {
    @include svg-bg(required, transparent, 5px center);
    color: transparent;
    display: block;
    float: left;
    font-size: 0px;
    height: 18px;
    line-height: 0;
    margin-right: 12px;
    overflow: hidden;
    text-indent: 100px;
    width: 18px;
  }
}

// Document type background (radio buttons)
#edit-field-document-type-und {
  background: $snow;
  border-radius: 0 0 2px 2px;
  padding: 20px 0px 5px 10px;
}

// Document files label
.form-type-managed-file.form-item label{
  display: block;
}

