.site-wrapper {
  height: auto;

  @include media($big) {

    .sub-menu-active & {
      margin-top: 60px;
    }
  }
}

// Main content wrapper
.main-content {
  @include font-size($standard,1.3);
  overflow: hidden;

  .logged-in & {
    margin-left: 280px;
    padding: 40px;

    @include media($big) {
      margin-left: 80px;
    }
  }
}

// Page head
.page-head {
  @include clearfix;
  margin-bottom: 70px;
}

// Page title
.page-title {
  float: left;
}

// Content wrapper
.content-wrapper {
  margin: 0;

  // Sidebar second main wrapper
  .content-sidebar {
    background: $wool;
    float: right;
    padding-bottom: 30px;
    width: 280px;

    // Dashboard page
    .page-oversikt & {
      background: transparent;
      float: right;
      padding-bottom: 30px;
      width: 320px;
    }

    @include media($medium) {
      display: block;
      float: left;
      margin-bottom: 25px;
      overflow: hidden;
      padding-bottom: 0;
      width: 100%;
    }

    // Sidebar second content wrapper
    .sidebar-second-content {
      padding: 0 10px 10px 10px;

      @include media($medium) {
        overflow: hidden;
        padding: 0 10px 0 10px;
      }
    }
  }
}

// Left content column (when sidebar second second exists)
.content-column {
  background-color: #fff;
  overflow: hidden;

  @include media($medium) {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
  }
}

// Page action links
.page-actions {
  float: right;
  margin-top: 16px;

  .action-links {
    list-style: none;
  }

  li {
    display: inline;
    margin-left: 20px;

    a {
      @include button($dark-grey,add);
    }
  }
}
