.not-logged-in.page-user {
  background: $coffee;
  box-sizing: border-box;

  #page-messages {
    position: absolute;
    left: 0px;
    top: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  #main-content {
    max-width: 400px;
    margin: 0px auto;
    padding-top: 100px;

    .logo {
      padding: 0;
      background: transparent;

      a {
        border: 0px none;

        img {
          width: 300px;
          height: 117px;
        }
      }
    }

    form#user-login {
      padding: 10px;

      .form-required {
        display: block;
        position: absolute;
        right: 10px;
        top: 12px;
        left: auto;
      }

      .form-text {
        background: $night;
        padding: 10px 10px 10px 41px;
        width: 100%;
        color: $snow;

        &#edit-name {
          @include svg-bg(envelope,$night,11px 10px);
        }

        &#edit-pass {
          @include svg-bg(padlock,$night,11px 9px);
        }

        &:focus {
          background: shade($night,30%);
          box-shadow: 0 0 5px tint($coffee,10%);
        }
      }

      .description {
        color: $wool;
      }

      #edit-submit {
        margin: 10px 0 0;
        @include button($mustard,login);
      }
    }
  }
}
