// Page messages wrapper
.page-messages {
  margin: -40px -40px 40px;

  // Don't display block system help message in main sidebar (Revion operations - View Current)
  .main-sidebar & {
    display: none;
  }
}

.messages {
  color: $snow;
  font-weight: 500;
  padding: 20px 40px;

  &.status {
    background: $cactus;
  }

  &.warning {
    background: $mustard;
  }

  &.error {
    background: $wine;
  }

  // Block system help message
  &.help {
    background: $mustard;
  }

  @include media($medium) {
  }
}
