// Pager
ul.pager {
  bottom: 20px;
  display: inline-block;
  list-style: none;
  padding-right: 24px;
  position: absolute;
  right: 20px;

  &:before {
    @include font-size(1.1);
    content: "";
    float: left;
    font-weight: 700;
    line-height: 21px;
    padding: 0 0px;
    text-transform: uppercase;
  }

  li {
    @include font-size(1.1);
    display: inline-block;
    line-height: 21px;
    margin-right: 1px;

    &.pager-current {
      background: $dark-grey;
      border-radius: 3px;
      color: $wool;
      font-weight: 700;
      padding: 0 7px;
    }

    a {
      background: $stone;
      border-bottom: 0 none;
      border-radius: 3px;
      color: $coffee;
      display: block;
      font-weight: 700;
      line-height: 21px;
      padding: 0 7px;

      &:hover {
        background: $cloudy;
        color: $snow;
      }
    }

    .ajax-progress {
      position: absolute;
      right: 0;
      top: 0;

      .throbber {
        @include throbber;
      }
    }
  }
}
