// Main sidebar background
#main-sidebar {
  background-color: $coffee;

  a {
    border-bottom: 0px none;
  }
}

// Sedermera logotype
.logo {
  background-color: #000;
  padding: 25px 0 25px 0;
  text-align: center;
  width: 100%;
}

// Main menu
#main-navigation {

  ul.menu {
    list-style-type: none;

    li {
      background: $medium-grey;
      text-transform: uppercase;
      padding: 20px 0 20px 30px;
      margin-bottom: 1px;

      a {
        color: $cloudy;
        display: block;
        padding-left: 30px;
        @include font-size(1.4);
        line-height: 20px;
        font-weight: 500;

        &.active-trail {

          &#investors {
            @include svg-bg(investors_white);
          }

          &#companies {
            @include svg-bg(company_white);
          }

          &#prospect {
            @include svg-bg(prospect_white);
          }
        }

        &:hover {
          color: tint($cloudy,50%);
        }

        &#investors {
          @include svg-bg(investors_grey);
        }

        &#companies {
          @include svg-bg(company_grey);
        }

        &#prospect {
          @include svg-bg(prospect_grey);
        }

        &.all {
          @include svg-bg(list_small_grey);
        }

         &.add {
          @include svg-bg(add_small_grey);
        }
      }

      ul {
        margin-top: 3px;
      }

      li {
        border-bottom: 0 none;
        padding: 10px 0 0 30px;
        @include svg-bg(tree_one);
        margin-bottom: 0;

        a {
          @include font-size(1.2);
          line-height: 12px;
          padding-left: 22px;

          &.active,
          &.active-trail {
            color: $mustard;

            &.all {
              @include svg-bg(list_small_yellow);
            }

            &.add {
              @include svg-bg(add_small_yellow);
            }
          }
        }

        &.last {
          padding: 10px 0 5px 30px;
          @include svg-bg(tree_two);
        }
      }

      &.expanded {

        > a {
          color: $snow;
        }
      }

      &.active-trail {
        background-color: $night;

        li {
          background-color: $night;
        }
      }

      &.last {
        margin-bottom: 0;
      }
    }
  }
}

// User logged in

// Wraps the entire user-logged-in section
#user {
  @include font-size(1.6);
  color: $snow;
  background-color: $medium-grey;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 20px 0;

    h2 {
      @include font-size(1.1);
      text-transform: uppercase;
      color: $mustard;
      font-weight: 700;
      line-height: 10px;
    }

    .menu {
      display: none;
  }
}

.user-image {
  @include svg-bg(user_male);
  float: left;
  width: 20%;
  height: auto;
  padding-bottom: 20px;
  margin-left: 50px;
  text-indent: -9999px;
}

.user-status {
  float: left;
  margin-right: 20px;
  width: 40%;
}
