h2.sidebar-second-icon {
  background: $dark-grey;
  display: inline-block;
  padding: 10px;
  width: 100%;
  padding: 11px 0 11px 0;
  margin-bottom: 20px;
  text-indent: 9999;

  .icon {
    @include svg-bg(progress_chart);
    display: block;
    margin: 0px auto;
    width: 26px;
    height: 20px;
    font-size: 0;
    color: $dark-grey;
    overflow: hidden;
  }
}

.prospect-record,
.prospect-time-remaining {
  background: $steel;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;

  h3 {
    @include font-size(1.2);
    background: $light-concrete;
    border-bottom: 1px solid $wool;
    font-weight: 700;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
  }

  .progress {
    background: $dark-grey;
    border: 2px solid $dark-grey;
    border-radius: 16px;
    height: 32px;
    margin: 20px 10px 10px 10px;

    .progress-bar {
      @include font-size(1.6);
      background-color: $snow;
      color: $coffee;
      font-family: 'Inconsolata', ;
      font-weight: 700;
      line-height: 28px;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .date {
    @include font-size(3.4);
    color: $dark-grey;
    font-weight: 700;
    margin: 10px 0 0 0;
    text-transform: uppercase;
  }

  .remaining,
  .total {
    @include font-size(1.4);
    font-family: 'Inconsolata', ;
    padding-bottom: 10px;
  }

  #edit-archive {
    @include button($dark-grey, archive);
    margin: 10px 0 10px 0;
    text-transform: uppercase;
  }
}
