#main-sidebar {
  background-color: $coffee;
  height: 100%;
  width: 20%;
}

.logo {
  background-color: #000;
  padding: 25px 0 25px 0;
  text-align: center;
  width: 100%;
}

// MAIN MENU

.menu {

  ul {
    list-style-type: none;
  }

  li {
    background: $medium-grey;
    text-transform: uppercase;
    @include font-size($standard);
    font-weight: 500;
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid $coffee;
  }

  a {
    color: #b2b3b6;
    display: block;
    padding-left: 30px;
    font-size: 12px;
    font-size: 1.2rem;

    &#investors {
      @include svg-bg(investors);
    }

    &#all-investors {
      @include svg-bg(all_investors);
    }

     &#add-investor {
      @include svg-bg(add_investor);
    }

  }

}

// USER LOGGED IN

#user {
  background-color: $medium-grey;
}


