// Overview - Transaction content wrapper
.transaction-wrapper {
  background: $snow;
  overflow: auto;
}

 // Transaction-text (to the left)
.transaction-text {
  @include span-columns(8);
  float: left;
}

// Transaction-info (image and fields to the right)
.transaction-information {
  @include span-columns(4);
  @include font-size(1.2);
  float: left;
  padding: 0 0 0 25px;
}

// Transaction process steps (1,2,3)
.process-steps {
  float: right;

  ul {
    list-style-type: none;

    li {
      @include font-size(4.8);
      font-weight: 300;
      display: inline;
      color: $light-concrete;
      margin-right: 15px;

      &.active {
        color: $coffee;
      }
    }
  }
}

// Transaction padding
.node-capital_raising-form {
  padding: 50px 40px 40px 40px;
}

// Wraps Contactlist (Kontaktlista), Stakeholders (Intressenter), Subscription list (Teckningslista)
.transaction-table-wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.page-node-add-capital-raising {

  // No padding on add transaction form
  .node-capital_raising-form {
      padding: 0;
  }
}
