#tadaa-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  background: #444;
  background: -moz-linear-gradient(100% 100% 90deg, #2c2c2c, #515151);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#515151), to(#2c2c2c));
  color: #FFF;
  padding: 5px;
  font-size: 10px;
  height: 20px;
  z-index: 9999;
}

#tadaa-module-status-wrapper,
#tadaa-variable-status-wrapper {
  display: none;
}

#tadaa-wrapper input,
#tadaa-wrapper select {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#tadaa-wrapper a {
  color: #00aeef;
  text-decoration: none;
}

.tadaa-environments-wrapper,
.tadaa-mail-wrapper {
  overflow: hidden;
  width: 110px;
  background: #efefef;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 20px;
  margin-left: 8px;
}

.tadaa-environments-wrapper {
  background: url('graphics/select-bg.png') no-repeat top left;
}

.tadaa-mail-wrapper {
  width: 150px;
}

#tadaa-wrapper select#tadaa-environments {
  color: #FFF;
  font-size: 10px;
  background: none;
  border: none;
  padding: 0px 5px 2px 3px;
  width: 130px;
  text-align: left;
  text-transform: uppercase;
}

#tadaa-wrapper select#tadaa-environments option {
  background: #515151;
}

#tadaa-wrapper .tadaa-mail-wrapper input#tadaa-mail {
  background: none;
  padding: 0px 3px 2px 10px;
  font-size: 10px;
  text-align: left;
  color: #666;
}

#tadaa-wrapper .tadaa-mail-wrapper.focused {
  background: #FFF;
}

#tadaa-wrapper .tadaa-mail-wrapper.focused input#tadaa-mail {
  color: #000;
}

#tadaa-wrapper .tadaa-mail-wrapper.invalid input#tadaa-mail
{
  color: #d60000;
}

table.table-status {
  font-size: 11px;
}

table.table-status tr {
  background: #FFF;
}

table.table-status tr.odd {
  background: #f1fbff;
}

.tadaa-state-wrapper,
.tadaa-mail-wrapper,
.tadaa-environments-wrapper {
  float: left;
  display: block;
}

.tadaa-state-wrapper a,
#tadaa-wrapper span.loading {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 3px;
  padding-top: 3px;
}

.tadaa-state-wrapper label {
  float: right;
  text-transform: uppercase;
}

#tadaa-wrapper .ok {
  background: url('graphics/ok.png') no-repeat center;
}

#tadaa-wrapper .error {
  background: url('graphics/not-ok.png') no-repeat center;
}

#tadaa-wrapper .loading {
  background: url('graphics/loading.gif') no-repeat center;
}