/** MAINTENANCE **/

body.in-maintenance {
  margin: 0;
  padding: 0;
  background: #8fc4d1;
  font-family: 'Covered By Your Grace', 'Marker Felt', 'Comic Sans MS', sans-serif;
  font-size: 20px;
  text-align: center;
}

.in-maintenance #page {
  width: 350px;
}


.in-maintenance #left {
  color: #fff;
  margin-top: 25px;
  width: 350px;
}

.in-maintenance #left #site-name {
  padding-right: 20px;
  font-size: 32px;
  text-align: right;
}

.in-maintenance #left #site-name a {
  color: #fff;
  text-decoration: none;
}

.in-maintenance #content {
  width: 350px;
	background: rgb(255,255,158);
	color: rgb(60,60,37);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0.0, rgb(255,255,132)),
		color-stop(0.5, rgb(255,255,132)),
    color-stop(1.0, rgb(255,255,158))
  );
  background: -moz-linear-gradient(center top,
		rgb(255,255,132) 0%,
		rgb(255,255,132) 50%,
		rgb(255,255,158) 100%
	);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.235);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.235);
  box-shadow: 0 3px 6px rgba(0,0,0,0.235);
	line-height: 30px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.in-maintenance #content h1.title {
  font-weight: normal;
  margin: 15px 0 20px 0;
}
.in-maintenance #content #content-inner {
  padding: 20px;
}