@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic");
@import url("http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css");
h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 62.4px;
  font-weight: 300; }

h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 500; }

a {
  color: #1a1a1a;
  border-bottom: 1px solid #e0e2e6;
  text-decoration: none;
  -webkit-transition: border-color 0.1s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out; }
  a:hover {
    border-bottom: 1px solid #1a1a1a; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%; }

input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none; }

button,
input[type=submit] {
  border: 0px; }

img {
  max-width: 100%;
  height: auto; }

body {
  height: 100%;
  background: #f3f4f8;
  color: #282828;
  font-family: "Roboto", sans-serif;
  font-size: 1.4; }

#site-wrapper {
  height: 100%; }

#main-sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  left: 0;
  top: 0; }

#main-content {
  overflow: hidden;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18.2px;
  padding: 40px;
  margin-left: 280px; }
  #main-content #page-actions {
    float: right;
    margin-top: 16px; }
    #main-content #page-actions ul.action-links {
      list-style: none; }
      #main-content #page-actions ul.action-links li {
        display: inline;
        margin-left: 20px; }
        #main-content #page-actions ul.action-links li a {
          display: inline-block;
          height: 34px;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 12px;
          line-height: 34px;
          border-radius: 34px;
          color: #fff;
          padding: 0 20px;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 0px none;
          background: url("../graphics/add_small_light.png") transparent 0 0 no-repeat;
          background: none, url("../graphics/add_small_light.svg") transparent 0 0 no-repeat;
          background-position: 20px 11px;
          padding-left: 42px;
          background-color: #454545;
          -webkit-transition: background-color 0.1s ease-in-out;
          -moz-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
          #main-content #page-actions ul.action-links li a:hover {
            background-color: #303030; }
  #main-content #page-content {
    margin-top: 40px; }

ul.pager {
  list-style: none;
  margin: 22px 0 0 0; }
  ul.pager:before {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 16.5px;
    line-height: 21px;
    float: left;
    content: "Sida";
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 7px; }
  ul.pager li {
    display: inline-block;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 16.5px;
    line-height: 21px;
    margin-right: 1px; }
    ul.pager li.pager-current {
      background: #454545;
      border-radius: 3px;
      color: #e0e2e6;
      padding: 0 7px;
      font-weight: 700; }
    ul.pager li a {
      background: #d5d7da;
      display: block;
      border-bottom: 0 none;
      border-radius: 3px;
      color: #282828;
      font-weight: 700;
      padding: 0 7px;
      line-height: 21px; }
      ul.pager li a:hover {
        background: #b2b3b6;
        color: #fff; }

#main-sidebar {
  background-color: #282828; }
  #main-sidebar a {
    border-bottom: 0px none; }

.logo {
  background-color: #000;
  padding: 25px 0 25px 0;
  text-align: center;
  width: 100%; }

#main-navigation ul.menu {
  list-style-type: none; }
  #main-navigation ul.menu li {
    background: #202020;
    text-transform: uppercase;
    padding: 20px 0 20px 30px;
    margin-bottom: 1px; }
    #main-navigation ul.menu li a {
      color: #b2b3b6;
      display: block;
      padding-left: 30px;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 21px;
      line-height: 20px;
      font-weight: 500; }
      #main-navigation ul.menu li a.active-trail#investors {
        background: url("../graphics/investors_white.png") transparent 0 0 no-repeat;
        background: none, url("../graphics/investors_white.svg") transparent 0 0 no-repeat; }
      #main-navigation ul.menu li a:hover {
        color: #d8d9da; }
      #main-navigation ul.menu li a#investors {
        background: url("../graphics/investors.png") transparent 0 0 no-repeat;
        background: none, url("../graphics/investors.svg") transparent 0 0 no-repeat; }
      #main-navigation ul.menu li a#all_investors {
        background: url("../graphics/list_small_grey.png") transparent 0 0 no-repeat;
        background: none, url("../graphics/list_small_grey.svg") transparent 0 0 no-repeat; }
      #main-navigation ul.menu li a#add_investor {
        background: url("../graphics/add_small_grey.png") transparent 0 0 no-repeat;
        background: none, url("../graphics/add_small_grey.svg") transparent 0 0 no-repeat; }
    #main-navigation ul.menu li ul {
      margin-top: 3px; }
    #main-navigation ul.menu li li {
      border-bottom: 0 none;
      padding: 10px 0 0 30px;
      background: url("../graphics/tree_one.png") transparent 0 0 no-repeat;
      background: none, url("../graphics/tree_one.svg") transparent 0 0 no-repeat;
      margin-bottom: 0; }
      #main-navigation ul.menu li li a {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 18px;
        line-height: 12px;
        padding-left: 22px; }
        #main-navigation ul.menu li li a.active {
          color: #f9a500; }
          #main-navigation ul.menu li li a.active#all_investors {
            background: url("../graphics/list_small_yellow.png") transparent 0 0 no-repeat;
            background: none, url("../graphics/list_small_yellow.svg") transparent 0 0 no-repeat; }
          #main-navigation ul.menu li li a.active#add_investor {
            background: url("../graphics/add_small_yellow.png") transparent 0 0 no-repeat;
            background: none, url("../graphics/add_small_yellow.svg") transparent 0 0 no-repeat; }
      #main-navigation ul.menu li li.last {
        padding: 10px 0 5px 30px;
        background: url("../graphics/tree_two.png") transparent 0 0 no-repeat;
        background: none, url("../graphics/tree_two.svg") transparent 0 0 no-repeat; }
    #main-navigation ul.menu li.expanded > a {
      color: #fff; }
    #main-navigation ul.menu li.active-trail {
      background-color: #1a1a1a; }
      #main-navigation ul.menu li.active-trail li {
        background-color: #1a1a1a; }
    #main-navigation ul.menu li.last {
      margin-bottom: 0; }

#user {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
  background-color: #202020;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 20px 0; }
  #user h2 {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 16.5px;
    text-transform: uppercase;
    color: #f9a500;
    font-weight: 700;
    line-height: 10px; }
  #user .menu {
    display: none; }

.user-image {
  background: url("../graphics/user_male.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/user_male.svg") transparent 0 0 no-repeat;
  float: left;
  width: 20%;
  height: auto;
  padding-bottom: 20px;
  margin-left: 50px;
  text-indent: -9999px; }

.user-status {
  float: left;
  margin-right: 20px;
  width: 40%; }

#page-messages {
  margin: -40px -40px 40px; }
  #page-messages .messages {
    padding: 20px 40px;
    color: #fff;
    font-weight: 500; }
    #page-messages .messages.status {
      background: #76c043; }
    #page-messages .messages.warning {
      background: #f9a500; }
    #page-messages .messages.error {
      background: #c04343; }

.table-filter {
  float: left;
  background: #e0e2e6; }
  .table-filter h2.filter-icon {
    background: #454545;
    padding: 11px 0 11px 0;
    border-bottom: 1px solid; }
    .table-filter h2.filter-icon .icon {
      background: url("../graphics/filter_icon.png") transparent 0 0 no-repeat;
      background: none, url("../graphics/filter_icon.svg") transparent 0 0 no-repeat;
      display: block;
      margin: 0px auto;
      width: 20px;
      height: 20px;
      font-size: 0;
      color: #454545;
      text-indent: 42px;
      overflow: hidden; }
  .table-filter form {
    padding: 0 10px 10px 10px; }
    .table-filter form .form-submit {
      display: inline-block;
      height: 34px;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 12px;
      line-height: 34px;
      border-radius: 34px;
      color: #fff;
      padding: 0 20px;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 0px none;
      text-align: center;
      width: 100%;
      background-color: #454545;
      -webkit-transition: background-color 0.1s ease-in-out;
      -moz-transition: background-color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out; }
      .table-filter form .form-submit:hover {
        background-color: #303030; }
    .table-filter form .filter-item {
      margin-bottom: 20px; }
      .table-filter form .filter-item > label {
        background: #c8cacd;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: 1.4;
        font-weight: 700;
        padding: 10px 0 11px 0;
        margin-top: 20px;
        border-bottom: 1px solid #e0e2e6; }
    .table-filter form .form-checkboxes {
      padding: 10px 0 10px 10px; }
    .table-filter form .form-item {
      background: #d4d6d9;
      padding: 0;
      font-size: 12px; }
      .table-filter form .form-item.form-type-bef-checkbox {
        height: 18px;
        position: relative;
        padding-left: 23px;
        line-height: 18px;
        margin-bottom: 5px; }
        .table-filter form .form-item.form-type-bef-checkbox .checker {
          position: absolute;
          top: 0;
          left: 0; }

.table-wrapper {
  overflow: hidden; }
  .table-wrapper table {
    width: 100%; }
    .table-wrapper table thead {
      background: #ebedf1;
      border-top: 1px solid #e0e2e6;
      border-bottom: 1px solid #e0e2e6; }
      .table-wrapper table thead th {
        height: 40px; }
        .table-wrapper table thead th.views-field {
          padding: 10px 0px 10px 10px; }
          .table-wrapper table thead th.views-field.active a {
            border-bottom: 2px solid #f9a500; }
        .table-wrapper table thead th a {
          font-size: 1.4;
          font-weight: 700;
          float: left;
          color: #282828;
          border-bottom: 0px none; }
          .table-wrapper table thead th a img {
            margin-left: 5px;
            border-bottom: none; }
    .table-wrapper table td {
      height: 40px;
      padding: 10px 0 10px 10px; }
    .table-wrapper table tr.even {
      background: #fafbfc;
      border-top: 1px solid #f3f4f8;
      border-bottom: 1px solid #f3f4f8; }
    .table-wrapper table tr.odd {
      background: #fff; }
    .table-wrapper table td {
      color: #363636; }

/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../graphics/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../images/bg-input.png") repeat-x 0 0;
  outline: 0; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background: url("../images/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block; }
  div.selector.fixedWidth {
    width: 190px; }
    div.selector.fixedWidth span {
      width: 155px; }
  div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0px;
    width: 100%; }
  div.selector.active {
    background-position: 0 -156px; }
    div.selector.active span {
      background-position: right -26px; }
  div.selector.hover, div.selector.focus {
    background-position: 0 -182px; }
    div.selector.hover span, div.selector.focus span {
      background-position: right -52px; }
    div.selector.hover.active, div.selector.focus.active {
      background-position: 0 -208px; }
      div.selector.hover.active span, div.selector.focus.active span {
        background-position: right -78px; }
  div.selector.disabled, div.selector.disabled.active {
    background-position: 0 -234px; }
    div.selector.disabled span, div.selector.disabled.active span {
      background-position: right -104px; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span, div.checker input {
    width: 18px;
    height: 18px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
    div.checker span.checked {
      background-position: -72px -260px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -18px -260px; }
    div.checker.active span.checked {
      background-position: -90px -260px; }
  div.checker.hover span, div.checker.focus span {
    background-position: -36px -260px; }
    div.checker.hover span.checked, div.checker.focus span.checked {
      background-position: -108px -260px; }
  div.checker.hover.active span, div.checker.focus.active span {
    background-position: -54px -260px; }
    div.checker.hover.active span.checked, div.checker.focus.active span.checked {
      background-position: -126px -260px; }
  div.checker.disabled, div.checker.disabled.active {
    background-position: -144px -260px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: -162px -260px; }

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 18px;
    height: 18px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -278px; }
    div.radio span.checked {
      background-position: -72px -278px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.active span {
    background-position: -36px -278px; }
    div.radio.active span.checked {
      background-position: -90px -278px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -72px -278px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -108px -278px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -54px -278px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -126px -278px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -144px -278px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -162px -278px; }

/* Uploader */
div.uploader {
  background-position: 0 -296px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background-position: right -408px;
    height: 28px;
    line-height: 28px;
    width: 85px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 82px;
    padding: 0 10px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uploader.active span.action {
    background-position: right -464px; }
  div.uploader.hover, div.uploader.focus {
    background-position: 0 -352px; }
    div.uploader.hover span.action, div.uploader.focus span.action {
      background-position: right -436px; }
    div.uploader.hover.active span.action, div.uploader.focus.active span.action {
      background-position: right -492px; }
  div.uploader.disabled, div.uploader.disabled.active {
    background-position: 0 -324px; }
    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
      background-position: right -380px; }

/* Buttons */
div.button {
  background-position: 0 -640px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -520px;
    height: 30px;
    margin-left: 13px;
    padding: 0; }
  div.button.active {
    background-position: 0 -670px; }
    div.button.active span {
      background-position: right -550px;
      cursor: default; }
  div.button.hover, div.button.focus {
    background-position: 0 -700px; }
    div.button.hover span, div.button.focus span {
      background-position: right -580px; }
  div.button.disabled, div.button.disabled.active {
    background-position: 0 -730px; }
    div.button.disabled span, div.button.disabled.active span {
      background-position: right -610px;
      cursor: default; }

div.checker span {
  background: url("../graphics/checkbox_unchecked.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/checkbox_unchecked.svg") transparent 0 0 no-repeat;
  background-position: 0 0; }
  div.checker span.checked {
    background: url("../graphics/checkbox_checked.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/checkbox_checked.svg") transparent 0 0 no-repeat;
    background-position: 0 0; }
div.checker.focus span {
  background: url("../graphics/checkbox_hover.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/checkbox_hover.svg") transparent 0 0 no-repeat;
  background-position: 0 0; }
  div.checker.focus span.checked {
    background: url("../graphics/checkbox_checked.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/checkbox_checked.svg") transparent 0 0 no-repeat;
    background-position: 0 0; }
div.checker.focus.active span {
  background: url("../graphics/checkbox_hover.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/checkbox_hover.svg") transparent 0 0 no-repeat;
  background-position: 0 0; }
  div.checker.focus.active span.checked {
    background: url("../graphics/checkbox_checked.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/checkbox_checked.svg") transparent 0 0 no-repeat;
    background-position: 0 0; }
div.checker.hover span {
  background: url("../graphics/checkbox_hover.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/checkbox_hover.svg") transparent 0 0 no-repeat;
  background-position: 0 0; }
  div.checker.hover span.checked {
    background: url("../graphics/checkbox_checked.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/checkbox_checked.svg") transparent 0 0 no-repeat;
    background-position: 0 0; }
div.checker.hover.active span {
  background: url("../graphics/checkbox_hover.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/checkbox_hover.svg") transparent 0 0 no-repeat;
  background-position: 0 0; }
  div.checker.hover.active span.checked {
    background: url("../graphics/checkbox_checked.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/checkbox_checked.svg") transparent 0 0 no-repeat;
    background-position: 0 0; }

.selectboxit-container * {
  font-family: 'Roboto';
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px; }
.selectboxit-container .selectboxit {
  border-radius: 2px; }
.selectboxit-container .selectboxit-text {
  font-weight: 500; }
.selectboxit-container span {
  height: 39px;
  line-height: 39px; }
.selectboxit-container .selectboxit-btn {
  background: #fff;
  border: 0px none; }
  .selectboxit-container .selectboxit-btn .selectboxit-arrow-container {
    right: 5px; }
    .selectboxit-container .selectboxit-btn .selectboxit-arrow-container .selectboxit-arrow {
      margin-top: -2px; }
  .selectboxit-container .selectboxit-btn.selectboxit-hover {
    background: #fff; }
  .selectboxit-container .selectboxit-btn.selectboxit-focus {
    background: #fff;
    box-shadow: 0 0 3px #a2a2a2; }
  .selectboxit-container .selectboxit-btn.selectboxit-open .selectboxit-arrow-container {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-animation: rotate 0.2s ease-in;
    -moz-animation: rotate 0.2s ease-in;
    animation: rotate 0.2s ease-in; }
.selectboxit-container .selectboxit-options {
  border-radius: 0px;
  border: 0 none;
  margin: 3px 0 0;
  box-shadow: 0 0 3px #a2a2a2;
  background: transparent; }
  .selectboxit-container .selectboxit-options .selectboxit-option span,
  .selectboxit-container .selectboxit-options .selectboxit-option a {
    height: 32px;
    line-height: 32px;
    border: 0 none; }
  .selectboxit-container .selectboxit-options .selectboxit-option a {
    border-bottom: 1px solid #e0e2e6;
    background: #fff; }
    .selectboxit-container .selectboxit-options .selectboxit-option a:hover {
      border-color: #e0e2e6;
      background: #f3f4f8;
      color: #282828; }
  .selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-focus a {
    border-color: #e0e2e6;
    background: #f3f4f8;
    color: #282828; }

.page-investerare-skapa ul.create-type-list {
  list-style: none;
  margin: 0 -10px;
  overflow: hidden; }
  .page-investerare-skapa ul.create-type-list li.type {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 20px; }
    .page-investerare-skapa ul.create-type-list li.type .type-container {
      margin: 0 10px; }
      .page-investerare-skapa ul.create-type-list li.type .type-container a.item {
        padding: 20px 20px 25px;
        background: #ebedf1;
        display: block;
        border-top: 1px solid #e0e2e6; }
        .page-investerare-skapa ul.create-type-list li.type .type-container a.item span {
          display: block; }
        .page-investerare-skapa ul.create-type-list li.type .type-container a.item .title {
          font-size: 20px;
          font-size: 2rem;
          line-height: 26px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 10px; }
        .page-investerare-skapa ul.create-type-list li.type .type-container a.item:hover {
          border-top: 1px solid #1a1a1a; }

.page-admin form {
  max-width: 800px; }
  .page-admin form fieldset {
    position: relative;
    background: #e0e2e6;
    padding: 60px 20px 0px;
    margin-bottom: 20px; }
    .page-admin form fieldset legend span.fieldset-legend {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      background: #f3f4f8;
      height: 40px;
      width: 100%;
      padding: 0;
      font-size: 20px;
      font-size: 2rem;
      line-height: 32px;
      font-weight: 400;
      text-transform: uppercase; }
    .page-admin form fieldset .fieldset-description {
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 15.6px;
      margin-bottom: 20px;
      font-style: italic; }
  .page-admin form .form-item {
    margin-bottom: 20px; }
    .page-admin form .form-item label {
      display: block;
      font-weight: 500;
      margin-bottom: 3px; }
    .page-admin form .form-item .description {
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 15.6px;
      font-style: italic; }
    .page-admin form .form-item.form-type-select {
      position: relative; }
      .page-admin form .form-item.form-type-select .ajax-progress {
        margin: 0 3px;
        padding: 9px 4px;
        background: #fff;
        z-index: 10;
        position: absolute;
        height: 39px;
        width: 200px; }
        .page-admin form .form-item.form-type-select .ajax-progress .throbber {
          display: inline-block;
          background: transparent;
          width: 16px;
          height: 16px;
          border: 2px solid #f9a500;
          border-radius: 50%;
          border-top-color: transparent;
          -webkit-animation: load 0.9s linear infinite;
          -moz-animation: load 0.9s linear infinite;
          animation: load 0.9s linear infinite; }
        .page-admin form .form-item.form-type-select .ajax-progress .message {
          display: none; }
    .page-admin form .form-item.form-type-textfield {
      position: relative; }
      .page-admin form .form-item.form-type-textfield label {
        position: absolute;
        top: 11px;
        left: 10px; }
      .page-admin form .form-item.form-type-textfield #autocomplete {
        border: 0 none;
        margin: 3px 0 0;
        box-shadow: 0 0 3px #a2a2a2; }
        .page-admin form .form-item.form-type-textfield #autocomplete ul li {
          height: 32px;
          line-height: 32px;
          border-bottom: 1px solid #e0e2e6;
          cursor: pointer;
          padding: 0 10px; }
          .page-admin form .form-item.form-type-textfield #autocomplete ul li:hover {
            background: #f3f4f8; }
      .page-admin form .form-item.form-type-textfield .throbber {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid #e0e2e6;
        margin-left: -23px;
        border-radius: 50%; }
        .page-admin form .form-item.form-type-textfield .throbber.throbbing {
          margin: -3px -3px -3px -26px;
          width: 16px;
          height: 16px;
          border-color: #f9a500;
          border-top-color: transparent;
          -webkit-animation: load 0.9s linear infinite;
          -moz-animation: load 0.9s linear infinite;
          animation: load 0.9s linear infinite; }
  .page-admin form .form-text {
    padding: 10px 30px 10px 10px;
    border-radius: 2px;
    margin-bottom: 3px; }
    .js .page-admin form .form-text.form-autocomplete {
      background-image: none; }
      .js .page-admin form .form-text.form-autocomplete.throbbing {
        background-image: none; }
    .page-admin form .form-text:focus {
      box-shadow: 0 0 3px #a2a2a2; }
  .page-admin form .form-submit {
    display: inline-block;
    height: 34px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 12px;
    line-height: 34px;
    border-radius: 34px;
    color: #fff;
    padding: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 0px none;
    background: url("../graphics/save_small_light.png") transparent 0 0 no-repeat;
    background: none, url("../graphics/save_small_light.svg") transparent 0 0 no-repeat;
    background-position: 20px 11px;
    padding-left: 42px;
    background-color: #454545;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out; }
    .page-admin form .form-submit:hover {
      background-color: #303030; }

ul.tabs {
  list-style: none;
  background: #ebedf1;
  border-top: 1px solid #e0e2e6;
  border-bottom: 1px solid #e0e2e6;
  margin-top: 70px;
  height: 42px; }
  ul.tabs li {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 21px;
    display: block;
    float: left;
    text-align: center; }
    ul.tabs li a {
      height: 40px;
      display: inline-block;
      padding: 0 19px 0 19px;
      line-height: 40px;
      border-bottom: 0 none;
      color: #282828;
      border-left: 1px solid #e0e2e6; }
      ul.tabs li a:hover {
        border-bottom: 0 none;
        background: #d5d7da;
        height: 40px;
        border-bottom: 0 none; }
    ul.tabs li.active a {
      font-weight: 700;
      border-bottom: 0 none;
      border-left: 0 none;
      background: #fff;
      border-top: 2px solid #f9a500;
      height: 42px;
      margin-top: -1px; }
      ul.tabs li.active a:hover {
        border-bottom: 0 none;
        background: #fff; }
