div.radio {
  margin-right: 5px;
  border: 1px solid $steel;
  background-color: $snow;
  border-radius: 50%;
  padding: 0;

  input {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  span {
    background: transparent;
    width: 16px;
    height: 16px;

    &:before {
      display: none;
      content: '';
      background: $dark-grey;
      position: absolute;
      left: 4px;
      top: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &.checked {

      &:before {
        display: block;
      }
    }
  }

  &.focus {
    box-shadow: 0 0 3px tint($dark-grey,80%);
  }

  &.focus.active {

    span {

    }
  }

  &.hover {

    span {

    }
  }

  &.hover.active {

    span {

    }
  }
}

div.radio.disabled {

  span {

  }
}
