@import url("http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css");

.form-type-select {
  position: relative;

  label {
    display: none;
  }

  .ajax-progress {
    margin: 0 3px;
    padding: 9px 4px;
    background: $snow;
    z-index: 10;
    position: absolute;
    height: 39px;
    width: 200px;

    .throbber {
      @include throbber;
    }

    .message {
      display: none;
    }
  }
}

.selectboxit-container {

  * {
    font-family: 'Roboto';
    @include font-size(1.4);
  }

  .selectboxit {
    border-radius: 2px;
  }

  .selectboxit-text {
    font-weight: 400;
  }

  .selectboxit-option-icon-container {
    margin: 0;
  }

  .selectboxit-btn {
    background: $snow;
    border: 0px none;
    height: 30px;
    line-height: 30px;
    border: 1px solid $steel;

    .selectboxit-arrow-container {
      right: 0px;

      .selectboxit-arrow {
        margin-top: -2px;
      }
    }

    &.selectboxit-hover {
      background: $snow;
    }

    &.selectboxit-focus {
      background: $snow;
      box-shadow: 0 0 3px tint($dark-grey,80%);
    }

    &.selectboxit-open {

      .selectboxit-arrow-container {
        @include transform(rotate(-180deg));
        @include animation(rotate 0.2s ease-in);
      }
    }
  }

  .selectboxit-options {
    background: transparent;
    border: 1px solid $steel;
    border-radius: 2px;
    box-shadow: 0 0 3px tint($dark-grey,80%);
    margin: 3px 0 0;

    .selectboxit-option {

      span,
      a {
        border: 0 none;
        height: 32px;
        line-height: 32px;
      }

      a {
        background: $snow;
        border-bottom: 1px solid $wool;

        &:hover {
          background: $light-grey;
          border-color: $wool;
          color: $coffee;
        }
      }

      &.selectboxit-focus {

        a {
          background: $light-grey;
          border-color: $wool;
          color: $coffee;
        }
      }

      &.selectboxit-option-last {

        a {
          border-bottom: 0px none;
        }
      }
    }
  }
}

// Contracting parties select-box
.select-container.contracting-parties {
  position: relative;

  .select {
    border: 1px solid $wool;
    border-radius: 2px;
    padding: 5px 25px 5px 10px;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 13px;
      right: 10px;
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $dark-grey;
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    top: 32px;
    left: 0;
    width: 100%;
    border: 1px solid $wool;
    border-radius: 2px;
    background: $snow;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);

    .form-item {
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid $wool;

      &:last-child {
        border-bottom: 0px none;
      }
    }
  }

  &.active {

    .select {

      &:after {
        @include transform(rotate(-180deg));
        @include animation(rotate 0.2s ease-in);
      }
    }

    .dropdown {
      display: block;
    }
  }
}
