.form-type-textarea {

  .mce-panel {
    border: 0 solid $aluminium;
    background: $aluminium;
  }

  textarea {
    -webkit-appearance: none;
    outline: none;
  }

  .form-textarea {
    border-radius: 2px;
    max-width: 100%;
    border: 1px solid $steel;
    padding: 5px;

    &:focus {
      box-shadow: 0 0 3px tint($dark-grey,80%);
    }

    &:disabled {
      color: tint($coffee,65%);
    }
  }
}
