.page-investerare-skapa {

  // Create type
  ul.create-type-list {
    list-style: none;
    margin: 0 -10px;
    overflow: hidden;

    li.type {
      display: block;
      float: left;
      width: 50%;
      text-align: center;
      margin-bottom: 20px;

      .type-container {
        margin: 0 10px;

        a.item {
          padding: 20px 20px 25px;
          background: $aluminium;
          display: block;
          border-top: 1px solid $wool;

          span {
            display: block;
          }

          .title {
            @include font-size(2.0,1.3);
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &:hover {
            border-top: 1px solid $night;
          }
        }
      }
    }
  }
}

.page-node-add-capital-raising {

  form.node-capital_raising-form {
    background: $wool;

    #transaction-basics {
      float: left;
      width: 340px;
      background: $wool;
      padding: 20px;

      .form-text {
        width: 100%;
      }

      fieldset {
        background: $steel;
        position: relative;
        border-radius: 2px;

        legend {

          .fieldset-legend {
            background: $light-concrete;
            text-align: left;
            display: block;
            @include font-size($standard,1.3);
            font-weight: 500;
            text-transform: none;
            padding: 10px 0 11px 10px;
            border-bottom: 1px solid $wool;
            border-radius: 2px 2px 0 0;

            .form-required {
              display: block;
              float: left;
              width: 18px;
              height: 18px;
              @include svg-bg(required, transparent, 5px center);
              color: transparent;
              font-size: 0px;
              overflow: hidden;
              text-indent: 100px;
              line-height: 0px;
              margin-right: 12px;
              margin-left: -10px;
            }
          }
        }

        .fieldset-wrapper {
          overflow: hidden;
          padding: 10px;
          background: transparent;

          .fieldset-description {
            padding: 0;
            background: transparent;
          }
        }
      }
    }

    #transaction-text {
      overflow: hidden;
      background: $snow;
      padding: 20px;

      fieldset {

        .fieldset-wrapper {
          background: $wool;
        }
      }
    }

    .form-actions {
      background: $light-grey;
      padding-top: 30px;
      text-align: right;

      .submit-wrapper {

        .form-submit {
          margin: 0 0 0 10px;
        }
      }
    }

    #preview-transaction {
      background: $snow;
      overflow: hidden;
    }

    #preview-investors {
      float: right;
      padding: 20px;
      width: 280px;
    }
  }
}
