// Add investor
.page-investerare-skapa {

  // Create type
  .create-type-list {
    list-style: none;
    margin: 0 -10px;
    overflow: hidden;
  }

  // Add investor link
  .item {
    background: $aluminium;
    border-top: 1px solid $wool;
    display: block;
    padding: 20px 20px 25px;

    &:hover {
      border-top: 1px solid $night;
    }

    span {
      display: block;
    }

    // Company/Private Individual Title (Bolag/Privatperson titel)
    .title {
      @include font-size(2.0,1.3);
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

// Add Company & Private Individual wrapper (Bolag/Privatperson)
.type {
  display: block;
  float: left;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
}

// Company & private individual container (Bolag/Privatperson)
.type-container {
  margin: 0 10px;
}


// Notes textarea (Anteckningar)
#edit-field-shared-notes-und-0-value {
  border: 0;
  margin-top: 10px;
}
