.document-related,
.document-appendix,
.document-files {
  background: #EAECF0;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .label {
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    background: #C8CACD;
    border-bottom: 1px solid #fff;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .file {

    img {
      display: none;
    }
  }

  .file-icon {
    display: none;
  }

  li {
    display: block;
    list-style: none;
    margin: 0 0 7px 20px;
  }

  a {
    border-bottom: 1px solid #ccc;

    &:hover {
      border-bottom: 1px solid $coffee;
    }
  }
}

// All documents list wrapper
.block-sedermera-document-view-read-all,
.block-sedermera-document-view-read-per-doc,
.block-sedermera-document-view-read-per-user,
.block-sedermera-document-view-admin-doc {

  .table-wrapper {
    width: 100%;
  }
}

// Wraps the entire document
.full-document-wrapper {
  background: $snow;
  display: flex;
}

// Document right column wrapper
.document-left-column {
  padding: 0 5%;
  width: 74%;
  // CSS rule to disable text selection highlighting
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// Document head wrapper
.document-head-wrapper {
  margin-top: 50px;

  .page-node-revisions & {
    margin-top: 0;
  }
}

// Wraps document head
.document-head-content {
  border-bottom: 2px solid $light-grey;
  margin: 40px 0 30px 0;
  padding-bottom: 30px;

  .page-node-revisions & {
    margin-top: 0;
  }
}

.field-doc-head-text {
  @include font-size(2.2);
  font-weight: 700;
  margin-bottom: 10px;
  width: 30%;
}

.field-doc-head-free {
  @include font-size(1.3);
  clear: both;
}

// Document header image
.field-doc-head-img {
  clear: both;
  margin-bottom: 20px;

  img {
    height: auto;
    max-width: 100%;
  }
}

// Wraps document title
.document-title-wrapper {
  clear: both;

  h2 {
    text-align: left;
  }
}

// Document content wrapper
.document-content-wrapper {
  @include span-columns(12);
  float: left;
}

// Document sidebar (contains related documents/appendix/files)
.document-sidebar {
  @include font-size(1.3);
  background: $wool;
  flex: 1;
  float: right;
  padding: 15px;
  width: 26%;
}

// Document related document/appendif/file lable
.document-files {

   .label {
    display: block;
   }
}

// Document footer
.document-footer {
  clear: both;
  border-top: 2px solid $light-grey;
  margin-top: 50px;
  padding-top: 40px;

  .field {
    @include font-size(1.3);
    margin: 10px 0 10px 0;
  }
}

// Document footer content
.document-footer-content {
  @include span-columns(4);
  @include omega();
}

// Sign button (bekräfta dokument)
.sign {
  display: block;
  margin-bottom: 10px;
  text-align: center;

  a {
    @include button($dark-grey, publish);
    color: $snow;
    text-align: center;
    text-transform: uppercase;
  }
}

// Sign info text
.sign-text,
.signed-text {
  @include font-size(1.8);
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 5px 40px 10px 40px;
  text-align: center;
}

// Signed text
.signed-text {
  padding: 5px 20px 40px 20px;
}

// Signed icon
.signed-icon {
  position: relative;

  &:after {
    @include svg-bg(approved_big);
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 45%;
    width: 30px;
  }
}

// Show appendix
.show-appendix {
  cursor: pointer;
  position: relative;

  // Toggle icon
  &:after {
    @include svg-bg(add_mini_grey);
    display: inline-block;
    background-repeat: no-repeat;
    content: '';
    width: 15px;
    height: 15px;
    left: 20px;
    position: absolute;
    top: 15px;

    .open & {
      @include svg-bg(minus_mini_grey);
    }
  }
}

.appendix {
  @include font-size(1.3);
}

.block-sedermera-document-view-read-all {

  table tr.odd {
    border-bottom: 1px solid $light-grey;
  }
}

// Don't show description text for document log search input field
#views-exposed-form-document-log-document-log {

  .description {
    display: none;
  }
}

// Document log show button
#edit-submit-document-log {
  @include button($dark-grey);
  margin-bottom: 25px;
}
