// Company node
.node-type-document {

  .content-wrapper {
    background: $snow;
  }
}

// Signed (godkänn dokument)
.signed {
  @include font-size(1.2,1);
  background-color: $avocado;
  border-radius: 34px;
  color: $pear;
  cursor: default;
  float: right;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  margin: 40px 0 20px 0;
  padding: 0 10px 0 35px;
  position: relative;
  text-transform: uppercase;

  &:before{
    @include svg-bg(approved);
    content: '';
    height: 20px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 20px
  }
}

// Sign button (godkänt dokument)
.sign {

  a {
    @include status-button($honey);
    margin: 40px 0 20px 0;
    float: right;
    height: auto;
    padding: 2px 13px 2px 13px;
  }
}

// Document node
.node-document.view-mode-full {
  padding-bottom: 60px;
}

.node-type-document {

  .node-document-form {
    padding: 50px 40px 40px 40px;

    .form-body {
      padding: 0 20px 40px 20px;
    }
  }

  .node-document.view-mode-full {
    padding-top: 60px;
  }
}

// Revision operation - edit document form
.page-node-revisions {

  .node-document-form {
    padding: 0 0 40px 20px;

    .form-body {
      padding: 0 20px 40px 20px;
    }
  }

  .node-document.view-mode-full {
    padding-top: 15px;
  }
}

// All documents list wrapper
.block-sedermera-document-view-read-all,
.block-sedermera-document-view-read-per-doc,
.block-sedermera-document-view-read-per-user {

  .table-wrapper {
    width: 100%;
  }

  table td {
    height: 28px;
    margin: 10px 0;
    padding: 0 15px 0 28px;
    vertical-align: middle;
  }
}

// Document - Revision Operations menu buttons
.tabs {

  &.secondary {
    @include font-size(1.4);
    background: $snow;
    border: 0;
    float: right;
    margin: 35px 0 25px 0;

    li {
      @include font-size(1.3);
      background: $stone;
      border-radius: 34px;
      margin-right: 10px;

      &:last-child {
        margin-right: 20px;
      }

      a {
        border-right: 0;
        border-bottom: 0 none;
        color: $coffee;
        display: inline-block;
        font-weight: 500;
        height: 25px;
        line-height: 25px;

        &:hover {
          background-color: shade($stone,5%);
          border-bottom: 0 none;
          border-radius: 34px;
          height: 25px;
        }
      }

      // Active tab
      &.active {

        a {
          background: $honey;
          border-bottom: 0 none;
          border-left: 0 none;
          border-radius: 34px;
          border-top: 0;
          font-weight: 700;
          height: 25px;
          line-height: 25px;
          margin-top: 0;

          &:hover {
            background-color: shade($honey,5%);
            border-bottom: 0 none;
          }
        }
      }
    }
  }
}

#revisioning-revisions-summary {
  padding: 0 20px 60px 20px;
}

// Revisioning buttons wrapper
.revisioning-ux-buttons {
  margin-top: 30px;
}

input[value="Compare"],
input[value="Jämför"]{

 &#edit-submit {
  @include button($dark-grey, compare);
 }
}

#revisioning-ux-publish {

  #edit-submit {
    @include button($dark-grey, publish);
  }
}

#revisioning-ux-unpublish {

  #edit-submit,
  #edit-submit--2 {
    @include button($dark-grey, unpublish);
  }
}

#edit-submit--3 {
  @include button($dark-grey, delete);
}

#revisioning-ux-delete-all {
  @include button($dark-grey, delete);

  input {
    background: $dark-grey;
    text-transform: uppercase;

    &:hover {
     background-color: shade($dark-grey,30%);
    }
  }
}

.page-dokument-read-user,
.page-dokument-read-doc {

  .main-content {
    overflow: visible;
  }
}
