// Don't show description text for document log search input field
#views-exposed-form-document-log-document-log {

  .description {
    display: none;
  }
}

// Document log show button
#edit-submit-document-log {
  @include button($dark-grey);
  margin-bottom: 25px;
}

// Relation document/appendix input field
#edit-field-dokument-relation,
#edit-field-manual-relation,
#edit-field-document-appendix,
#edit-field-manual-appendix {

  th {
    height: auto;
    padding: 0;
  }

  td {
    padding: 0;
  }

 .draggable {
    background: none;
 }

  .form-item {

    .form-text {
      margin-top: 0;
    }
  }

  .tabledrag-processed {
    margin-bottom: 5px;
    border-bottom: 0;

    tbody tr {
      border: 0;
    }
  }
}

// Revision information (New revision)
.node-form-revision-information {

  // Textarea
  .form-type-textarea {
    margin-top: 0;
  }
}

// Label: Revision creation and moderation options
.form-item  {

  label[for=edit-revision-operation] {
    font-weight: 700;
    padding: 0px 0 15px 0;
  }
}

// WYSIWYG editor
.cke {
  border: 0 !important;
}

// Page footer
.group-document-footer,
.group-manual-footer {

  .fieldset-wrapper {
    @include outer-container;

    .field-type-text {
      @include span-columns(6 of 12);
      @include omega(2n);

      input[type=text] {
        width: 100%;
      }

      .form-item {
        margin-bottom: 10px;
      }
    }
  }
}
