.page-node-edit {

  &.node-type-capital-raising {

    #title-wrapper {
      background: $wool;
      padding: 20px 20px 5px;
      border-radius: 3px;
      margin-bottom: 20px;
    }

    .field-name-field-cap-rais-date {

      .fieldset-wrapper {
        padding: 20px;
      }
    }
  }
}