.page-node-edit {

  &.node-type-capital-raising {

    .form-sidebar {
      background: transparent;
      float: left;
      margin-right: 20px;
      padding: 0;
      width: 280px;
    }

    .form-body {
      background: transparent;
      overflow: hidden;
      padding: 0;

      .field-name-body {
        background: $wool;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 10px;
      }
    }

    #title-wrapper {
      background: $wool;
      border-radius: 2px;
      margin-bottom: 20px;
      padding: 10px;
    }
  }

  .form-actions {
    border-top: 2px solid $wool;
    padding-top: 20px;
  }
}

.page-investor-person-edit,
.page-investor-company-edit {

  .form-sidebar {
    background: transparent;
    float: left;
    margin-right: 20px;
    padding: 0;
    width: 280px;
  }

  .form-body {
    background: transparent;
    overflow: hidden;
    padding: 0;
  }

  .form-actions {
    border-top: 2px solid $wool;
    padding-top: 20px;
  }
}
