// Edit Investor Person/Company
.page-investor-person-edit,
.page-investor-company-edit,
.page-investor-lead-edit {

  .form-sidebar {
    background: transparent;
    padding: 0 20px 0 0;
  }

  .form-body {
    background: transparent;
    overflow: hidden;
    padding: 0;
  }

  // Wraps the save and delete buttons
  .form-actions {
    padding-top: 20px;
  }
}

// Ajax progress styling for add related document/appendix
.field-type-entityreference {

  .submit-wrapper {
    position: relative;
    margin-right: 10px;

    .form-submit {
      margin-right: 0;
    }
  }

  .ajax-progress {
    left: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 24px;
    background: shade($dark-grey,30%);
    border-radius: 12px;
    padding: 2px;
    color: $snow;

    .message {
      padding-left: 5px;
      @include font-size(1.2);
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// Add entity to content styling
.field-type-entityreference {

  .submit-wrapper {

    input {
      @include button($dark-grey, add-mini, small);
      background-position: 11px 7px;
    }
  }

  thead {
    border: 0;
  }

  th {
    background: #D4D6D9;
    color: #282828;
  }

  td {
    padding: 0;
  }

  tr.odd {
   background: #D4D6D9;
  }

  // Inline entity form specifics
  .ief-form {

    // Buttons
    .submit-wrapper {

      input#edit-field-invest-cont-person-und-form-actions-ief-add-save {
        @include button($dark-grey, check-mini, small);
        background-position: 11px 7px;
      }

      input#edit-field-invest-cont-person-und-form-actions-ief-add-cancel {
        @include button($dark-grey, cross-mini, small);
        background-position: 11px 7px;
      }
    }
  }
}

// Edit industries (Branscher) and interests (Intressen) (Shared)
#edit-field-shared-industries-und,
#edit-field-shared-interests-und {

  .form-item {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

// Edit Capital Raising (Transaktion)
.page-node-edit {

  &.node-type-capital-raising {

    .form-sidebar {
      background: transparent;
      padding: 0 20px 0 0;
    }

    #title-wrapper {
      background: $wool;
      border-radius: 2px;
      margin-bottom: 20px;
      padding: 10px;
    }

    .form-body {
      background: transparent;
      overflow: hidden;
      padding: 0;

      .field-name-body {
        background: $wool;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 10px;
      }
    }
  }

  // Wraps the save and delete buttons
  .form-actions {
    padding-top: 20px;
  }
}
