// Investor page - fields
.field-shared-custresp,
.field-invest-comp-own,
.field-shared-industries,
.field-shared-email,
.field-shared-cell,
.field-shared-phone,
.field-shared-fax,
.field-shared-address,
.field-shared-notes,
.field-shared-interests {

  .label {
    display: inline-block;
    width: 40%;
    margin-bottom: 10px;
  }
}

.field-shared-notes {

  .label {
    display: block;
    margin-bottom: 10px;
  }
}

.field-invest-cont-person {

  .label {
    display: block;
    margin-bottom: 10px;
  }
}

.entity-contact-person {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid $light-grey;
  border-radius: 5px;

  .field {

    .label {
      display: inline-block;
      width: 25%;
    }
  }
}

.transaction-history {

  h2 {
    margin-bottom: 15px;
  }
}
