// Investor page - fields
.field-shared-custresp,
.field-invest-comp-own,
.field-shared-industries,
.field-shared-email,
.field-shared-cell,
.field-shared-phone,
.field-shared-fax,
.field-shared-address,
.field-shared-notes {
  margin-bottom: 15px;

  .label {
    display: inline-block;
    width: 30%;
  }
}

.field-shared-notes {

  .label {
    display: block;
  }
}

.entity-contact-person {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid $light-grey;
  border-radius: 5px;

  .field {
    margin-bottom: 5px;

    .label {
      display: inline-block;
      width: 25%;
    }
  }
}
