// Node page
.page-investor,
.node-type-capital-raising,
.node-type-company,
.page-node-kontaktlista,
.page-node-teckningslista,
.page-node-intressenter {

  .main-content {

    #page-content {
      background: $snow;
      margin-top: 0;
      padding: 50px 40px 50px 40px;

      .title h2 {
        @include font-size(3.2);
        border-bottom: 2px solid $light-grey;
        font-weight: 500;
        margin-bottom: 33px;
        padding: 0 0 33px 0;
        text-align: center;
      }
    }

    .content-wrapper {
      background-color: $wool;
    }
  }
}

.page-node-kontaktlista,
.page-node-intressenter {

  .table-wrapper {
    padding-bottom: 0;
  }
}

.page-node-kontaktlista-lagg-till {

  .main-content {

    #page-content {
      background: $light-grey;
      padding: 0;
    }
  }
}

.field-shared-industries,
.field-shared-address,
.field-shared-email {
  margin-bottom: 15px;
}

.node.view-mode-full {
  @include outer-container;
  max-width: 800px;
}

// Node type company
.node-type-company {

   .main-content {

    .content-column {
      overflow: visible;
    }
  }

  // Company logo
  .field-comp-logo {
    margin-top: 10px;
  }
}
