.transaction-wrapper {
  background: $snow;
  overflow: auto;
}

.transaction-text {
  @include span-columns(8);
  float: left;
}

.transaction-information {
  @include span-columns(4);
  @include font-size(1.2);
  float: left;
  padding: 0 0 0 25px;

  .field, .file {
    border-bottom: 2px solid $light-grey;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;

    &:last-child  {
      border-bottom: 0 none;
    }

    a {
      border: 0 none;
    }
  }

  .label {
    @include font-size(1.4);
    display: block;
    font-weight: 500;
  }

  .file {
    display: block;
    font-weight: 500;

   &.application-pdf {

    img {
      display: none;
    }

    &.application-pdf {

      a {
        display: inline-block;
        height: 20px;
        @include svg-bg(pdf);
        padding-left: 25px;
      }
    }
   }
  }
}

// Company logo
.field-comp-logo {
  margin-top: 10px;
}

// Offerd table (Erbjudna)
.views-field.views-field-field-offer-status {

  input {
    width: 200px;
  }
}

.views-field-field-offer-interested {

  .checker {
    margin-right: 5px;
    margin-bottom: 4px;
  }
}

.views-field-field-offer-amount {

  input {
    margin-right: 5px;
    padding: 0 5px 0 5px 0;
    width: 35px;
  }
}

