// Transaction E-mail preview (Magnific Popup)
.mfp-content {
  background: $snow;
  margin: 0 auto;
  width: 600px;

  #message-preview {
    background: $snow;
    margin: 0 auto;
    width: 600px;

    h2 {
      @include font-size(3.2);
      font-weight: 700;
      padding-bottom: 10px;
      padding-top: 5px;

      .field-title {
        border-bottom: 2px solid $light-grey;
      }
    }
  }
}

// Makes magnific pop up width 650px
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  padding-bottom: 45px;
  padding-top: 40px;
  width: 660px;
}

.html-mail-fields {
  p {
    display: inline-block;
  }
}
