// Overview - Transaction content wrapper
.transaction-wrapper {
  background: $snow;
  overflow: auto;
}

.transaction-text {
  @include span-columns(8);
  float: left;
}

.transaction-information {
  @include span-columns(4);
  @include font-size(1.2);
  float: left;
  padding: 0 0 0 25px;

  // Logotype (Kundbolag)
  img {
    height: auto;
    width: 100%;
  }

  .field, .file {
    border-bottom: 2px solid $light-grey;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;

    &:last-child  {
      border-bottom: 0 none;
    }

    a {
      border: 0 none;
    }
  }

  .label {
    @include font-size(1.4);
    display: block;
    font-weight: 500;
  }

  .file {
    display: block;
    font-weight: 500;

   &.application-pdf {

    img {
      display: none;
    }

    &.application-pdf {

      a {
        @include svg-bg(pdf);
        display: inline-block;
        height: 20px;
        padding-left: 25px;
      }
    }
   }
  }
}

// Wraps Contactlist (Kontaktlista), Stakeholders (Intressenter), Subscription list (Teckningslista)
.view-offers {

  // Add more investors button (Kontaktlista - Lägg till fler investerare)
  .add-more {
    @include button($dark-grey, add);
  }

  // Offerd investor status (Kontaktlista)
  .views-field.views-field-field-offer-status {

    input {
      width: 180px;
    }
  }

  // Date format description (Kontaktlista)
  .form-type-date-combo {
    position: relative;

    .description {
      @include font-size(1.1);
      background-color: $aluminium;
      padding: 1px 5px 2px 5px;
      position: absolute;
      display: none;
    }

   .date-date {
      width: 145px;
    }
  }

  // Interested investor check box (Kontaktlista)
  .views-field-field-offer-interested {

    .checker {
      margin-bottom: 4px;
      margin-right: 5px;
    }
  }

  // Send email button (Kontaktlista)
  #views-form-offers-page {
    margin-top: 25px;

    .form-submit#edit-submit {
      @include button($dark-grey, send);
    }
  }

  // Offerd amount (Intressenter)
  .views-field-field-offer-amount {

    input {
      margin-right: 5px;
      padding: 0 5px 0 5px 0;
    }
  }

// Verification-status-check (Intressenter)
  a.sedermera-verification-status-check {
    cursor: pointer;

    // Approved button
    &.sedermera-verification-status-check.approved {
      @include status-button($avocado, approved);
      color: $pear;
    }

    // Unapproved button
    &.sedermera-verification-status-check.not-approved {
      @include status-button($bubblegum, unapproved);
      color: $dark-rose;
    }
  }
}

// Send email select box and add chosen investors button (Lägg till utvalda investerare)
#sedermera-offer-investors-add {
  overflow: hidden;
  text-align: right;

  .form-actions {
    display: inline-block;

    .form-submit {
      @include button($dark-grey, add);
      margin-right: 0;
    }
  }
}
