.transaction-wrapper {
  background: $snow;
  overflow: auto;
}

.transaction-text {
  @include span-columns(8);
  float: left;
}

.transaction-information {
  @include span-columns(4);
  @include font-size(1.2);
  float: left;
  padding: 0 0 0 25px;

  img {
    height: auto;
    width: 100%;
  }

  .field, .file {
    border-bottom: 2px solid $light-grey;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;

    &:last-child  {
      border-bottom: 0 none;
    }

    a {
      border: 0 none;
    }
  }

  .label {
    @include font-size(1.4);
    display: block;
    font-weight: 500;
  }

  .file {
    display: block;
    font-weight: 500;

   &.application-pdf {

    img {
      display: none;
    }

    &.application-pdf {

      a {
        @include svg-bg(pdf);
        display: inline-block;
        height: 20px;
        padding-left: 25px;
      }
    }
   }
  }
}

// Company logo
.field-comp-logo {
  margin-top: 10px;
}

// Add investors button
.add-more {
  @include button($dark-grey, add);
  margin-bottom: 40px;
}

// Offerd amount (Intressenter)
.views-field-field-offer-amount {

  input {
    margin-right: 5px;
    padding: 0 5px 0 5px 0;
  }
}

// Offerd table (Kontaktlista)
.views-field.views-field-field-offer-status {

  input {
    width: 200px;
  }
}

// Interested check box (Kontaktlista)
.views-field-field-offer-interested {

  .checker {
    margin-bottom: 4px;
    margin-right: 5px;
  }
}

// Date format description (Kontaktlista)
.form-type-date-combo {
  position: relative;

  .description {
    @include font-size(1.1);
    background-color: $aluminium;
    position: absolute;
    padding: 1px 5px 2px 5px;
    display: none;
  }
}

.date-date {
  width: 200px;
}

// Send email button
#views-form-offers-page {

  .form-submit#edit-submit {
    @include button($dark-grey, send);
  }
}

// Send email select box and add investors button
#sedermera-offer-investors-add {
  overflow: hidden;
  text-align: right;

  .form-item-send-email {
    display: inline-block;
    margin-right: 20px;

    .checker {
      margin-right: 5px;
    }
  }

  .form-actions {
    display: inline-block;

    .form-submit {
      @include button($dark-grey);
      margin-right: 0;
    }
  }
}
