// Wraps Contactlist (Kontaktlista), Stakeholders (Intressenter), Subscription list (Teckningslista)
.view-offers {

  // Add more investors button (Kontaktlista - Lägg till fler investerare)
  .add-more {
    @include button($dark-grey, add);
    margin-bottom: 25px;
  }

  // Offerd investor status (Kontaktlista)
  .views-field.views-field-field-offer-status {

    input {
      width: 180px;
    }
  }

  // Date format description (Kontaktlista)
  .form-type-date-combo {
    position: relative;

    .description {
      @include font-size(1.1);
      background-color: $aluminium;
      padding: 1px 5px 2px 5px;
      position: absolute;
      display: none;
    }

   .date-date {
      width: 145px;
    }
  }

  // Interested investor check box (Kontaktlista)
  .views-field-field-offer-interested {

    .checker {
      margin-bottom: 4px;
      margin-right: 5px;
    }
  }

  // Send email button (Kontaktlista)
  #views-form-offers-page {

    .form-submit#edit-submit {
      @include button($dark-grey, send);
    }
  }
}

// Contact list add investor page (Lägg till utvalda investerare)
// Send email select box and add chosen investors button
#sedermera-offer-investors-add {
  overflow: hidden;
  text-align: right;

  .form-actions {
    display: inline-block;

    .form-submit {
      @include button($dark-grey, add);
      margin-right: 0;
    }
  }
}
