@mixin button($background: $dark-grey, $icon: default, $size: default) {
  display: inline-block;
  height: 34px;
  @include font-size(1.2,1);
  line-height: 34px;
  border-radius: 34px;
  color: $snow;
  padding: 0 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 0 none;

  &:hover {
    background-color: shade($background,30%);
  }

  @if $icon == add {
    @include svg-bg(add_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == save {
    @include svg-bg(save_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == compare {
    @include svg-bg(compare_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == publish {
    @include svg-bg(publish_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == unpublish {
    @include svg-bg(unpublish_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == send {
    @include svg-bg(send_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == send-dark {
    @include svg-bg(send_small_dark);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == upload {
    @include svg-bg(upload);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == next {
    @include svg-bg(next);
    background-position: 100px 11px;
    padding-right: 42px;
  }

  @if $icon == previous {
    @include svg-bg(previous);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == delete {
    @include svg-bg(delete_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == confirm {
    @include svg-bg(confirm);
    background-position: 20px 14px;
    padding-left: 42px;
  }

  @if $icon == cancel {
    @include svg-bg(cancel);
    background-position: 20px 12px;
    padding-left: 42px;
  }

  @if $icon == login {
    @include svg-bg(login_small_dark);
    color: $coffee;
    background-position: 20px 11px;
    padding-left: 42px;

    &:hover {
      background-color: tint($background,30%);
      box-shadow: 0 0 3px shade($dark-grey,50%);
    }
  }

  @if $icon == archive {
    @include svg-bg(archive_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == arrow {
    @include svg-bg(arrow-down);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == arrow-right {
    @include svg-bg(arrow-right);
    background-position: 16px 11px;
    padding-left: 42px;
  }

  background-color: $background;
  @include transition (background-color 0.1s ease-in-out);

  @if $size == small {
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    background-position: 10px 6px;
    padding: 0 10px 0 26px;
    margin-right: 8px;
  }
}

// Status button - approved/unapproved/expiring/expired
@mixin status-button($background: default, $icon: default) {
  @include font-size(1.1);
  border-radius: 28px;
  border-bottom: 0 none;
  display: inline-block;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  width: auto;

  @if $icon == approved {
    @include svg-bg(approved);
    background-position: 5px 4px;
    color: $pear;
    padding-left: 28px;
  }

  @if $icon == unapproved {
    @include svg-bg(unapproved);
    background-position: 5px 4px;
    color: $dark-rose;
    padding-left: 28px;
  }

  @if $icon == expiring {
    @include svg-bg(exclamation);
    background-position: 5px 4px;
    padding-left: 28px;
    color: $dark-grey;
  }

  @if $icon == expired {
    @include svg-bg(expired);
    background-position: 5px 4px;
    padding-left: 28px;
    color: $dark-grey;
  }

  &:hover {
    background-color: shade($background,10%);
    border: 0 none;
  }

  @if $icon == preview {
    @include svg-bg(magnifier);
  }

  background-color: $background;
}

@mixin throbber {
  display: inline-block;
  background: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid $mustard;
  border-radius: 50%;
  border-top-color: transparent;
  @include animation(load 0.9s linear infinite);
}
