@mixin button($background: $dark-grey, $icon: default) {
  display: inline-block;
  height: 34px;
  @include font-size(1.2,1);
  line-height: 34px;
  border-radius: 34px;
  color: $snow;
  padding: 0 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 0px none;

  &:hover {
    background-color: shade($background,30%);
  }

  @if $icon == add {
    @include svg-bg(add_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == save {
    @include svg-bg(save_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == delete {
    @include svg-bg(delete_small_light);
    background-position: 20px 11px;
    padding-left: 42px;
  }

  @if $icon == login {
    @include svg-bg(login_small_dark);
    color: $coffee;
    background-position: 20px 11px;
    padding-left: 42px;

    &:hover {
      background-color: tint($background,30%);
      box-shadow: 0 0 3px shade($dark-grey,50%);
    }
  }

  background-color: $background;
  @include transition (background-color 0.1s ease-in-out);
}

@mixin throbber {
  display: inline-block;
  background: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid $mustard;
  border-radius: 50%;
  border-top-color: transparent;
  @include animation(load 0.9s linear infinite);
}
