// Import neat helpers - this gives us visual grid which can be useful, also
// gives us media mixin which is useful when making responsive layouts.
@import "../assets/neat/app/assets/stylesheets/neat-helpers";

// Our grid variables
$grid-columns: 12;
$column: golden-ratio(20px, 3);
$gutter: golden-ratio(20px, 1);
$max-width: 1180px;

// Base font-size and line-height
$base-font-size: 1.6;
$base-line-height: 1.5;

// Visual grid that can be used if neat helpers is activated
// $visual-grid : true;
// $visual-grid-color: #e0eef7;

// COLORS

$snow: #fff;
$mustard: #f9a500;

// Grey

$night: #1a1a1a;
$coffee: #282828;
$dark-grey: #454545;
$medium-grey: #202020;
$cloudy: #b2b3b6;
$light-grey: #f3f4f8;
$wool: #e0e2e6;
$dark-concrete: #363636;
$aluminium: #ebedf1;
$steel: #d4d6d9;

// Green

$cactus: #76c043;
$avocado: #b6e0af;

// Red
$wine: #c04343;
$bubblegum: #e0afaf;
$dark-rose: #9e6565;

// FONT-SIZE

$standard: 1.4;

// FONTS

// Body font-family
$body-font: 'Roboto', sans-serif;

// Header font-family
$heading-font: 'Roboto', sans-serif;


