// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Import our variables, mixins & helpers
@import "variables", "helpers", "mixins", "elements/typography";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}

// Remove standard border on button & input on smart devices
button,
input[type=submit] {
  border: 0px;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  background: $light-grey;
  color: $coffee;
  font-family: $body-font;
  font-size: $standard;
 }

#site-wrapper {
  height: 100%;
}

#main-sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
}

#main-content {
  overflow: hidden;
  @include font-size($standard,1.3);
  padding: 40px;
  margin-left: 280px;

  // Page action links
  #page-actions {
    float: right;
    margin-top: 16px;

    ul.action-links {
      list-style: none;

      li {
        display: inline;
        margin-left: 20px;

        a {
          @include button($dark-grey,add);
        }
      }
    }
  }

  // Page content
  #page-content {
    margin-top: 40px;
  }
}

// Pager
ul.pager {
  list-style: none;
  margin: 22px 0 0 0;

  &:before {
    @include font-size(1.1);
    line-height: 21px;
    float: left;
    content: "Sida";
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 7px;
  }

  li {
    display: inline-block;
    @include font-size(1.1);
    line-height: 21px;
    margin-right: 1px;

    &.pager-current {
      background: $dark-grey;
      border-radius: 3px;
      color: $wool;
      padding: 0 7px;
      font-weight: 700;
    }

    a {
      background: $stone;
      display: block;
      border-bottom: 0 none;
      border-radius: 3px;
      color: $coffee;
      font-weight: 700;
      padding: 0 7px;
      line-height: 21px;

      &:hover {
        background: $cloudy;
        color: $snow;
      }
    }
  }
}

// Import page elements
@import "elements/sidebar", "elements/messages", "elements/filteredtable", "uniform", "elements/checkbox", "content/create", "elements/forms", "elements/tabs";
