// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Import our variables, mixins, helpers & typography
@import "variables", "helpers", "mixins", "typography";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;

  body.admin-menu {
    padding-top: 29px;
    margin-top: 0 !important;
  }
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}

// Remove standard border on button & input on smart devices
button,
input[type=submit] {
  border: 0px;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
}

body {
  @include font-size($standard,1.3);
  background: $light-grey;
  color: $coffee;
  font-family: $body-font;
  height: 100%;
}

// Empty filter message
.empty-wrapper {
  padding: 80px 30px;

  .empty-icon {
    @include svg-bg(sad_computer, $background-color: transparent, $background-position: center top);
    height: 93px;
  }

  p {
    @include font-size(2.0);
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
  }
}

// Label
.label {
  font-weight: 700;
}

.process-steps {
  float: right;

  ul {
    list-style-type: none;

    li {
      @include font-size(4.8);
      font-weight: 300;
      display: inline;
      color: $light-concrete;
      margin-right: 15px;

      &.active {
        color: $coffee;
      }
    }
  }
}

// Import page content
@import "content/create", "content/edit", "content/node", "content/transaction";

// Import page elements
@import "elements/layouts", "elements/sidebar", "elements/messages", "elements/pager", "elements/filteredtable", "uniform", "elements/formelements", "elements/forms", "elements/tabs", "animations",  "elements/login", "elements/sidebar-second", "elements/activities", "elements/dashboard";
