@import "variables", "helpers";

html {
  font-size: 62.5%;
}

body {
  background: $snow;
  color: $coffee;
  font-family: $body-font;
  @include font-size($standard,1.3);
}

h2 {
  @include font-size(2.0,1.6);
  font-weight: 500;
}

h3 {
  @include font-size(1.6,1.3);
  font-weight: 500;
}

p {
  margin: 1em 0;
}
